title: Initial Site Settings File
source_file: .cloudcannon/initial-site-settings.json
description: >-
  Configure the SSG, hosting mode, and build configuration for new Sites
  created from this repository.
intro: >-
  When you create a new Site on CloudCannon, the syncing and building steps
  require you to provide values for your Site configuration (e.g., SSG, hosting
  mode, and build commands). Rather than enter these details during Site
  creation, you can configure them in an initial site settings file.


  The `/.cloudcannon/initial-site-settings.json` file is useful for
  streamlining your Site creation process. If you manage website templates or a
  Site repository that you might upload to CloudCannon multiple times,
  specifying your build configuration in advance will make this process more
  efficient.

keys:
  - key: ssg
    type: String
    show_in_navigation: true
    description: |
      This key determines which Static Site Generator CloudCannon uses to provide build suggestions.

      Note: The `other` value is called Custom SSG in the CloudCannon interface.
    enum:
      - astro
      - bridgetown
      - docusaurus
      - eleventy
      - gatsby
      - hugo
      - jekyll
      - legacy
      - lume
      - mkdocs
      - nextjs
      - nuxtjs
      - other
      - static
      - sveltekit
    examples:
      - description: Set the SSG to Hugo.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "ssg": "hugo"
          }

  - key: mode
    type: String
    default: hosted
    show_in_navigation: true
    description: |
      This key determines the hosting mode for your Site.

      Value must be either:

      * `hosted` - enables builds, visual editing, the Testing and Custom Domains, and page previews in the collection browser.
      * `headless` - disables builds for dynamic and externally-hosted Sites.

      If you have not defined `mode` in your initial Site settings file, CloudCannon will build your Site during Site creation by default.
    enum:
      - hosted
      - headless
    examples:
      - description: Set the Site to hosted mode.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "ssg": "hugo",
            "mode": "hosted"
          }

  - key: build
    type: Object
    show_in_navigation: true
    description: |
      This key determines the initial build configuration settings for your Site. These options are ignored if `mode` is set to `headless`.
    children:
      - build.install_command
      - build.build_command
      - build.output_path
      - build.environment_variables
      - build.preserved_paths
      - build.preserve_output
      - build.include_git
      - build.manually_configure_urls
      - build.hugo_version
      - build.ruby_version
      - build.node_version
      - build.deno_version
    examples:
      - description: A complete build configuration example for a Hugo site.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "ssg": "hugo",
            "mode": "hosted",
            "build": {
              "install_command": "[ -f package.json ] && npm i",
              "build_command": "hugo -b /",
              "output_path": "public",
              "environment_variables": [
                {
                  "key": "HUGO_CACHEDIR",
                  "value": "/usr/local/__site/src/.hugo_cache/"
                }
              ],
              "preserved_paths": "resources/,.hugo_cache/",
              "preserve_output": false,
              "include_git": false,
              "manually_configure_urls": false,
              "hugo_version": "0.128.1",
              "ruby_version": "2.7.3",
              "node_version": "18",
              "deno_version": "1.40.2"
            }
          }

  - key: build.install_command
    type: String
    parent: build
    show_in_navigation: true
    description: |
      This key determines the command to install any dependencies required for your Site to build.
    examples:
      - description: Install npm dependencies if package.json exists.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "install_command": "[ -f package.json ] && npm i"
            }
          }

  - key: build.build_command
    type: String
    parent: build
    show_in_navigation: true
    description: |
      This key determines the command to build your Site.
    examples:
      - description: Build a Hugo site with base URL.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "build_command": "hugo -b /"
            }
          }

  - key: build.output_path
    type: String
    parent: build
    show_in_navigation: true
    description: |
      This key determines the location your Site will build to.
    examples:
      - description: Set the output path to the public directory.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "output_path": "public"
            }
          }

  - key: build.environment_variables
    type: Array
    parent: build
    show_in_navigation: true
    description: |
      This key determines the environment variables required for your Site to build.
    examples:
      - description: Set the Hugo cache directory environment variable.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "environment_variables": [
                {
                  "key": "HUGO_CACHEDIR",
                  "value": "/usr/local/__site/src/.hugo_cache/"
                }
              ]
            }
          }

  - key: build.preserved_paths
    type: String
    parent: build
    show_in_navigation: true
    description: |
      This key determines which paths to cache between builds. Value must be a comma separated list of path prefixes.
    examples:
      - description: Preserve the resources and Hugo cache directories between builds.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "preserved_paths": "resources/,.hugo_cache/"
            }
          }

  - key: build.preserve_output
    type: Boolean
    parent: build
    default: false
    show_in_navigation: true
    description: |
      This key toggles whether CloudCannon will cache the files in your output directory between builds.
    examples:
      - description: Enable output preservation.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "preserve_output": true
            }
          }

  - key: build.include_git
    type: Boolean
    parent: build
    default: false
    show_in_navigation: true
    description: |
      This key toggles whether CloudCannon will include your Git folder in your build.
    examples:
      - description: Include the Git folder in the build.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "include_git": true
            }
          }

  - key: build.manually_configure_urls
    type: Boolean
    parent: build
    default: false
    show_in_navigation: true
    description: |
      This key toggles whether CloudCannon will skip automatic URL detection and rely on the URLs specified in your CloudCannon configuration file. This is useful for larger Sites.

      Setting this key to true will prevent CloudCannon from automatically assigning URLs to your files.

      For more information, please read our documentation on [manually configuring URLs](/documentation/developer-articles/manually-configure-urls/).
    examples:
      - description: Disable automatic URL detection.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "manually_configure_urls": true
            }
          }

  - key: build.hugo_version
    type: String
    parent: build
    show_in_navigation: true
    description: |
      This key determines which version of Hugo is installed in your build environment.
    examples:
      - description: Set the Hugo version.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "hugo_version": "0.128.1"
            }
          }

  - key: build.ruby_version
    type: String
    parent: build
    show_in_navigation: true
    description: |
      This key determines which version of Ruby is installed in your build environment.
    examples:
      - description: Set the Ruby version.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "ruby_version": "2.7.3"
            }
          }

  - key: build.node_version
    type: String
    parent: build
    show_in_navigation: true
    description: |
      This key determines which version of Node is installed in your build environment.
    examples:
      - description: Set the Node version.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "node_version": "18"
            }
          }

  - key: build.deno_version
    type: String
    parent: build
    show_in_navigation: true
    description: |
      This key determines which version of Deno is installed in your build environment.
    examples:
      - description: Set the Deno version.
        language: json
        source: initial-site-settings.json
        code: |
          {
            "build": {
              "deno_version": "1.40.2"
            }
          }
