.c-anchor-header {
  $c: &;

  &__link {
    color: var(--text-light)!important;
    text-decoration: none;
    margin-left: 0.2em;
    transition: opacity 0.2s ease;
    opacity:0;

    @media(max-width:880px){
      display:none;
    }
  }

  &:hover {
    #{$c}__link {
      opacity:1;

      &:hover {
        opacity:1;
      }
  
      &:active {
        color: var(--color-neptune-double);
      }
    }
  }
}