.c-anchor-header {
  $c: &;

  &__link {
    color: var(--color-cloud);
    text-decoration: none;
    margin-left: 0.2em;
    transition: color 0.2s ease;
  }

  &:hover {
    #{$c}__link {
      color: var(--color-comet);

      &:hover {
        color: var(--color-neptune);
      }
  
      &:active {
        color: var(--color-neptune-double);
      }
    }
  }
}