.c-anchor-header {
  $c: &;
  scroll-margin-top: 64px; /* This used to be --offset-height - but I don't think that's correct here - should be nav height only? */

  &__link {
    color: var(--text) !important;
    text-decoration: none;
    margin-left: 0.2em;
    transition: opacity 0.2s ease;
    opacity: 0;

    @media (max-width: 880px) {
      display: none;
    }
  }

  &:hover {
    #{$c}__link {
      opacity: 1;

      &:hover {
        opacity: 1;
      }

      &:active {
        color: var(--color-neptune-double);
      }
    }
  }
}
