.l-breadcrumb {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:8px;
    font-size:14px;
    font-weight:bold;
    margin-bottom:24px;

    & svg{
        fill:var(--text);
        width:12px;
    }

    & span{
        color:var(--selected-blue);
    }

    &__separator {
        color: var(--text);
        opacity: 0.5;
    }

    a {
        text-decoration: none;
        color: var(--colour-cloud);

        &:hover {
            text-decoration: underline;
        }
    }
}