.t-breadcrumbs {
    position: relative;
    display: flex;

    a {
        text-decoration: none;
        color: var(--color-neptune);
    }

    &__link-svg {
        background-color: var(--color-neptune);
        height: 12px;
        width: 12px;
        transform: rotate(180deg);
        margin-right: 4px;
    }

    &__list {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        gap: 4px;

        margin-left: 0;
        padding-left: 0;
        list-style-type: none;

        svg {
            fill: currentColor;
        }
    }

    &__list a,
    &__divider,
    &__active {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
    }
}