.l-breadcrumb {
  position: relative;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 24px;

  &, & > span {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & svg {
    fill: var(--text);
    width: 12px;
  }

  & span {
    color: var(--selected-blue);
  }

  a {
    text-decoration: none;
    color: var(--colour-cloud);

    &:hover {
      text-decoration: underline;
    }
  }
}
