.c-interactive-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--gap);
}

.c-interactive-card {
  --image-size: 50px;
  --card-background-color: var(--color-cloud);
  --card-border-color: #aaa;

  position: relative;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  border: var(--border-width) solid var(--card-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-paper);
  padding: var(--gap);
  min-height: 350px;

  &:hover {
    --card-border-color: var(--color-carbon);
  }

  &--sol {
    --card-background-color: var(--color-sol-light);
    --card-border-color: var(--color-sol);
  }

  svg {
    position: absolute;
    bottom: 20px;
    right: 20px;
    fill: var(--card-border-color);
  }

  &__image {
    height: var(--image-size);
    width: auto;
    margin-bottom: 10px;
    align-self: flex-start;
  }

  &__link {
    font-size: 0;
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
  }

  &--sol {}

  h3 {
    margin-top: 0;
  }
}

.c-guide-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--gap);
}

.c-guide-card {
  --image-size: 35px;
  --card-background-color: var(--color-cloud);
  --card-border-color: #aaa;

  position: relative;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
  min-height: 80px;
  background-color: var(--card-background-color);
  border: var(--border-width) solid var(--card-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-paper);
  padding: var(--gap);

  &:hover {
    --card-border-color: var(--color-carbon);
  }

  &--sol {
    --card-background-color: var(--color-sol-light);
    --card-border-color: var(--color-sol);
  }

  &__image {
    margin: 0;
    height: var(--image-size);
    width: auto;
  }

  &__link {
    margin: 0;
    font-size: 0;
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
  }

  h3 {
    margin: 0;
  }
  
  h4 {
    margin: 0;
    font-size: 14px;
    line-height: 0.9em;
  }
}