.c-card-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width:944px;
  margin:48px auto;
  padding: 0 16px;

  &__card{
    position: relative;
    text-decoration:none;
    color:var(--text-light);
    display:flex;
    flex-direction: column;
    row-gap:20px;

    padding:20px;
    background:var(--card-background-light);
    border: 2px solid #ECECEC;
    border-radius: 10px;

    @media(max-width:880px){
      grid-column: span 2;
    }

    &.span-two{ grid-column: span 2;}

    & h2{
      font-size:20px;
      margin:0;
      padding:0;
    }

    &--items{
      display:flex;
      flex-direction: column;
      gap:10px;
    }

    &--item{
      border-radius:4px;
      text-decoration: none;
      color: var(--text-light);
      padding:10px;
      display:grid;
      grid-template-columns: 24px 1fr;
      column-gap:10px;

      &:hover{
        background:var(--background-footer-light);
      }

      & h3{
        font-size:16px;
        padding:0;
        margin:0;
      }

      & svg{
        fill:var(--text-light);
      }
    }

    & hr{
      margin:0;
      border-color: #ececec;
    }

    & p{
      margin: 0;
      color:var(--card-paragraph-light);
      font-weight:400;
      font-size:16px;
    }

    & > div > .img-spacer{
      height:140px;
    }

    & > div > img{
      position:absolute;
      max-height:140px;
      bottom:0;
      left:20px;
      right:20px;
      object-fit: cover;
      object-position: top;
      width:calc(100% - 40px);
    }
  }

  &__card-arrow{
    display:flex;
    &>svg{
      fill:var(--arrow-color-light);
      margin-left:auto;
    }
  }
}