.c-card-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width:912px;
  margin:auto;

  &__card{
    padding:20px;
    background:#F6F6F6;
    border: 2px solid #ECECEC;
    border-radius: 10px;

    & h2{
      font-size:20px;
      margin:0;
      padding:0;
    }
  }
}