.c-centred-block{
  --centred-block-background-light: "#ffffff";
  --centred-block-background-dark: "#2C2C2C";
  --centred-block-text-light: "#ffffff";
  --centred-block-text-dark: "#212121";

  background-color: var(--centred-block-background-light);
  color: var(--centred-block-text-light);

  margin:48px auto;
  display:flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 56px 16px;

  max-width:1376px;
  border-radius:10px;

  @media(max-width:1408px){
    max-width: calc(100% - 32px);
  }

  &__inner{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    max-width:444px;
    text-align: center;

    & h2{
      padding:0;
      margin:0;
      font-size: 36px;
      font-weight:bold;
    }
  
  }
}

body.dark{
  & .c-centred-block{
    --centred-block-background-light: var(--centred-block-background-dark)!important;
    --centred-block-text-light: var(--centred-block-text-dark)!important;
  }
}