.c-code-block {
  $c: &;

  background-color: #222a39;
  color: rgba($color: #fff, $alpha: 0.6);
  border-radius: var(--border-radius);
  margin-bottom: var(--gap);

  &__heading {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 0 0 6px;
  }

  &__icon {
    padding: 0 2px;
    fill: rgba($color: #fff, $alpha: 0.8);
  }

  &__source {
    flex: 1;
    font-size: 14px;
  }

  &__copy {
    position: relative;

    &__button {
      -webkit-appearance: none;
      border: 0;
      padding: 7px 7px;
      background: none;
      fill: rgba($color: #fff, $alpha: 0.8);
      border-radius: 0 2px 0 0;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.1);
      }
    }

    &__toast {
      position: absolute;
      top: calc(100% + 5px);
      right: 5px;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
      border-radius: 4px;
      color: #fff;
      transition: opacity ease-in 0.3s;
      opacity: 0;
      line-height: 1;
      pointer-events: none;
      font-size: 14px;

      &.active {
        opacity: 1;
      }
    }
  }

  &__code {
    .highlight {
      margin: 0;

      pre {
        padding: 24px;
        background: none;
        margin: 0;
      }
    }
  }
}