.c-code-block {
  $c: &;

  background-color: #222a39;
  color: rgba($color: #fff, $alpha: 0.6);
  border-radius: var(--border-radius);
  margin-bottom: var(--gap);

  &--annotated {
    margin-bottom: 0;
  }

  &__heading {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 0 0 6px;
  }

  &__icon {
    padding: 0 2px;
    fill: rgba($color: #fff, $alpha: 0.8);
  }

  &__source {
    flex: 1;
    font-size: 14px;
  }

  &__copy {
    position: relative;

    &__button {
      -webkit-appearance: none;
      border: 0;
      padding: 7px 7px;
      background: none;
      fill: rgba($color: #fff, $alpha: 0.8);
      border-radius: 0 2px 0 0;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.1);
      }
    }

    &__toast {
      position: absolute;
      top: calc(100% + 5px);
      right: 5px;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
      border-radius: 4px;
      color: #fff;
      transition: opacity ease-in 0.3s;
      opacity: 0;
      line-height: 1;
      pointer-events: none;
      font-size: 14px;

      &.active {
        opacity: 1;
      }
    }
  }

  &__code {
    .highlight {
      margin: 0;

      pre {
        padding: 24px;
        background: none;
        margin: 0;
      }
    }

    &.--frameless .highlight pre {
      padding: 12px 24px;
    }
  }

  &__annotations {
    padding: var(--gap);
    margin-bottom: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
}

[data-annotation-number="1"],
[data-annotation-number="5"],
[data-annotation-number="9"] {
  --annotation-color: #9ec1cf;
}

[data-annotation-number="2"],
[data-annotation-number="6"] {
  --annotation-color: #cc99c9;
}

[data-annotation-number="3"],
[data-annotation-number="7"] {
  --annotation-color: #9ee09e;
}

[data-annotation-number="4"],
[data-annotation-number="8"] {
  --annotation-color: #feb144;
}

[data-annotation-number="★"] {
  --annotation-color: #f0cd0e;
  cursor: default !important;

  &::before {
    font-size: 1rem !important;
    height: 82% !important;
  }
}

.code-annotation {
  font-size: 1rem;
  height: 1.2em;
  min-height: 1.2em;
  width: 1.2em;
  min-width: 1.2em;
  display: inline-block;
  background-color: var(--annotation-color);
  vertical-align: text-bottom;
  position: relative;
  border-radius: 3px;

  &.token {
    cursor: pointer;
    margin-left: .3em;
  }

  &::before {
    content: attr(data-annotation-number);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.8rem;
    text-shadow: none;
    color: var(--color-carbon);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c-annotation {
  display: flex;
  position: relative;
  scroll-margin: 40px;

  &--highlighted {
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      background-color: var(--annotation-color);
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    display: block;
    align-self: stretch;
    width: 6px;
    min-width: 6px;
    background-color: var(--annotation-color);
    border-radius: 1px;
  }

  &__number {
    margin-top: 0.3em;
    margin-left: calc(var(--grid-size) * 3);
  }

  &__content {
    margin-left: calc(var(--grid-size) * 4);

    > :first-child,
    >ul li:first-child p {
      margin-top: 0;
    }

    > :last-child,
    >ul li:last-child p {
      margin-bottom: 0;
    }
  }
}