.c-docs-ssg-selector {
    display: block;
    position: relative;

    &__heading {
        display: block;
        font-weight: 700;
        color: var(--color-carbon);
        padding: 0;
        margin: 0 0 -10px 0;
    }

    &__empty-button-icon {
        width: 16px;
        margin-left: 8px;
        height: 0px;
        border-top: 4px solid var(--color-alto);
        border-radius: 4px;
    }

    &__item,
    &__selected {
        display: flex;
        width: 100%;
        gap: 10px;
        padding: 10px 15px 10px 10px;
        font-weight: bold;
        font-size: 16px;
        align-items: center;
        appearance: none;
        border-radius: var(--border-radius);
        background: var(--color-cloud);
        border: 0;
        min-height: 44px;
        cursor: pointer;

        &:hover {
            border-color: var(--color-carbon);
            background: var(--color-stratus);
        }

        &[aria-selected="true"] {
                background: var(--color-stratus);
        }
    }

    &__dropdown,
    &__selected {
        border: var(--border-width) solid #aaa;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__text {
        flex: 1;
        text-align: left;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: #000;
        opacity: 0;

        @media (max-width: 880px) {
            display: block;
            opacity: 0.8;
        }
    }

    &__dropdown {
        position: absolute;
        top: -5px;
        right: 0;
        width: 100%;
        min-width: 200px;
        padding: 5px;
        border-radius: var(--border-radius);
        z-index: 2;
        background: var(--color-cloud);
        border-color: var(--color-carbon);
        box-sizing: border-box;

        @media (max-width: 880px) {
            top: auto;
            bottom: -5px;
        }
    }
}

.c-conditional {
    border: var(--border-width) solid var(--color-stratus);
    padding: var(--gap);
    border-radius: var(--border-radius);
    margin-bottom: var(--gap);

    img {
        max-height: 24px;
    }

    &__header {
        font-size: 16px;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 5px 0;
        margin: 30px 0;
        justify-content: flex-start;
        margin-top: 0;

        span.ssg {
            font-weight: bold;
        }
    }

    &__intro {
        max-width: 60ch;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.c-ssg-callout {

    margin: 40px auto 0;

    .c-notice__content {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 16px;
    }
}