.t-docs-nav {
    $c: &;
    margin: 0;
    flex: 1;
    overflow-y: scroll;
    position: relative;
    padding: 48px 16px 0 0;
    box-shadow: inset -40px 0 40px -40px hsla(0,0%,0%,.1);

    @media(max-width:880px){
        display: none;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        gap: var(--grid-size);
        margin-bottom: var(--gap);

        img {
            max-height: 50px;
            width: auto;
            max-width: 100%;
            align-self: flex-start;
        }

        h2 {
            margin: 0;
            flex: 1;
        }
    }

    &__main-list {
        list-style-type: none;
        padding: 0 0 40px 0;
        margin-top: 0;

        &__item {
            gap:8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding:10px 0;
            border-bottom: 1px solid #ECECEC;

            &.guide{
                border-bottom: none;
            }

            & svg{
                padding:1px;
                fill:var(--text-light);
            }

            &.changelog-nav{
                flex-direction: row;
                justify-content: space-between;

                &>a{
                    width:100%;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: var(--text-light);
                }

                &.selected{
                    &>a{
                        &>.t-docs-nav__main-list__item__heading{color:var(--color-neptune)}
                        &>.changelog-count{background-color: var(--color-neptune);color:white}
                    }
                }
            }

            &__heading-group{
                cursor: pointer;
                border-radius:4px;
                padding:8px 4px;
                display: flex;
                gap: 10px;
                align-items:center;
                width:100%;

                &:hover{
                    background:var(--background-footer-light);
                }

                &.nav-open{
                    &>*{
                        color:var(--selected-blue-light);
                        fill:var(--selected-blue-light);
                    }

                    & > .t-docs-nav__main-list__item__heading + svg{
                        transform: rotate(90deg);
                    }
                }
            }

            &__heading {
                line-height: 32px;
                display: block;
                font-weight: 700;
                color: var(--text-light);
                padding: 0;
                margin: 0 auto 0 0;

                &+svg{
                    width:16px;
                }
            }

            & .changelog-count{
                color:var(--color-carbon);
                background:#E6EDFB;
                padding:8px 16px;
                border-radius: 20px;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }

    &__sub-list {
        width:100%;
        margin: 0;
        padding: 0 0 0 16px;
        list-style-type: none;
        font-weight: 400;
        font-size: 16px;
        display: flex;
        gap: 8px;
        flex-direction: column;

        & & {
            font-size: 16px;
        }

        details[open]{
            display:flex;
            flex-direction: column;
            gap:8px;
            font-weight: bold;
            color: var(--selected-blue-light);
            &>.t-docs-nav__sub-list__heading>svg {
                transform: rotate(90deg);
                fill: var(--selected-blue-light);
            }
        }

        &__heading {
            &::-webkit-details-marker {
                display: none;
            }
            font-weight:bold;
            padding: 4px;
            border-radius:4px;
            list-style-type: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height:20px;

            &:hover{
                background:var(--background-footer-light);
            }

            & svg {
                transition: transform 0.1s ease-in-out;
                transform: rotate(0deg);
                width:20px;
                height:20px;
            }
        }

        &>li {
            
            /*position: relative;
            padding:4px 2px 0 0;*/
        }

        &__article {
            font-weight: 400;
            padding: 4px;
            border-radius:4px;
            text-decoration: none;
            color: var(--text-light);
            display: flex;
            line-height: 20px;
            align-items: center;
            gap: var(--grid-size);

            &:not(.guide):hover{
                background:var(--background-footer-light);
            }

            &[aria-current="page"] {
                color:var(--selected-blue-light);
            }

            /*@media (max-width: 880px) {
                padding: var(--gap-half) calc(var(--grid-size)*2);
            }*/
        }

        &__article.guide {
            min-height: 52px;
            font-weight: 700;
            padding: 0;
            text-decoration: none;
            color: #888;
            display: flex;
            gap: 10px;
            align-items: normal;

            &[aria-current="page"] {
                color:var(--selected-blue-light);
            }

            /*@media (max-width: 880px) {
                padding: var(--gap-half) calc(var(--grid-size)*2);
            }*/

            &>.guide-title{
                padding:4px;
                border-radius:4px;
                width:100%;

                &:hover{
                    background:var(--background-footer-light);
                }
            }
        }

        &__index {
            width: 24px;
            height: 24px;
            border: 2px solid var(--color-alto);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            font-size: 14px;
            font-weight: bold;

            &.current-guide{
                border-color: var(--selected-blue-light);
                color: var(--selected-blue-light);
                background-color: transparent;
            }

            &.guide-complete {
                border-color: white;
                background-color: var(--selected-blue-light);
                color: var(--color-cloud);
                border-width: 4px;

                &>svg{
                    fill: var(--color-cloud);
                    width:12px;
                }
            }
        }


        &__connector {
            height: 100%;
            width: 2px;
            background-color: var(--color-alto);
            display: block;

            &-group{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            li:last-of-type>& {
                display: none;
            }

            &.guide-complete {
                background-color: var(--selected-blue-light);
            }

            @media (max-width: 880px) {
                top: 35px;
                left: 18px;
                height: calc(100% - 20px);
            }
        }

        &--toc {
            margin-top: 10px;
        }
    }

    .t-docs-nav__main-list__item>ol.t-docs-nav__sub-list {
        padding: 0 0 0 35px;
    }

    .t-docs-nav__main-list__item.guide>ol.t-docs-nav__sub-list {
        padding: 0;
        gap: 0;
    }

    &__base {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--color-cloud);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-top: solid 1px transparent;
        transition: border 0.3s ease-in-out;

        svg {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            transform: rotateZ(90deg);
        }

        &[data-show] {
            border-top: solid 1px var(--color-stratus);

            svg {
                opacity: 0.5;
            }
        }
    }

    &__control {
        appearance: none;
        display: none;
        padding: 8px;
        border: var(--border-width) solid var(--color-alto);
        background: #fff;
        border-radius: var(--border-radius);
        line-height: 0;
        cursor: pointer;

        &:hover {
            border-color: var(--color-carbon);
        }
    }

    @media (max-width: 880px) {
        &__control {
            display: block;
        }

        &__main-list {
            display: none;
        }

        &__heading {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--gap-half);

            img {
                max-width: 30px;
            }
        }

        &__base {
            display: none;
        }

        &--open {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #fff;
            z-index: 50;
            height: 100%;
            width: 100%;

            #{$c}__heading {
                padding: var(--gap);
                background-color: #fff;
                position: sticky;
                top: 0;
                z-index: 2;
                border-bottom: 2px solid var(--color-stratus);
            }

            #{$c}__main-list {
                display: block;
                padding: 0 var(--gap);
            }
        }
    }
}

body.dark{
    .selected>a{
        &>.t-docs-nav__main-list__item__heading{
            color:var(--color-cloud)!important;
        }
    }
}