.t-docs-nav {
    $c: &;
    margin: 0;
    flex: 1;
    overflow-y: scroll;
    position: relative;
    padding: 0 calc(var(--grid-size) * 2);

    &__heading {
        display: flex;
        flex-direction: column;
        gap: var(--grid-size);
        margin-bottom: var(--gap);

        img {
            max-height: 50px;
            width: auto;
            max-width: 100%;
            align-self: flex-start;
        }

        h2 {
            margin: 0;
            flex: 1;
        }
    }

    &__main-list {
        list-style-type: none;
        padding: 0 0 40px 0;
        margin-top: 0;

        &__item {
            &__heading {
                display: block;
                font-weight: 700;
                color: var(--color-carbon);
                padding: 0;
                margin: var(--gap) 0 var(--grid-size) 0;
            }
        }
    }

    &__sub-list {
        margin: 0 0 0 calc(var(--grid-size) * -2);
        padding: 0 0 0 var(--gap);
        list-style-type: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        gap: var(--grid-size);
        flex-direction: column;

        & & {
            font-size: 16px;
        }

        details[open]>.t-docs-nav__sub-list__heading>.t-docs-nav__sub-list__heading__arrow {
            transform: rotate(90deg);
        }

        &__heading {
            &::-webkit-details-marker {
                display: none;
            }

            padding: var(--grid-size) calc(var(--grid-size) * 2);
            list-style-type: none;
            cursor: pointer;

            &__arrow {
                transition: transform 0.1s ease-in-out;
                margin-left: 8.59px;
                transform: rotate(0deg);
            }
        }

        li {
            position: relative;
        }

        &__article {
            line-height: 24px;
            font-weight: 500;
            padding: var(--grid-size) calc(var(--grid-size) * 2);
            text-decoration: none;
            color: var(--color-carbon);
            display: flex;
            gap: var(--grid-size);

            &[aria-current="page"] {
                background: var(--color-stratus);
                border-radius: 8px;
            }

            @media (max-width: 880px) {
                padding: var(--gap-half) calc(var(--grid-size)*2);
            }
        }

        &__index {
            line-height: 18px;
            width: 22px;
            height: 22px;
            margin-right: var(--grid-size);
            border: 2px solid var(--color-alto);
            display: inline-block;
            text-align: center;
            border-radius: 12px;
            font-size: 12px;
            font-weight: bold;
            flex: 0 0 22px;
            margin-top: 2px;

            &.guide-complete {
                border-color: var(--color-emerald);
                background-color: var(--color-emerald);
                color: var(--color-cloud);
            }
        }


        &__connector {
            height: calc(100% - 24px);
            width: 2px;
            background-color: var(--color-alto);
            display: block;
            position: absolute;
            left: 19px;
            top: 30px;

            li:last-of-type>& {
                display: none;
            }

            &.guide-complete {
                background-color: var(--color-emerald);
            }

            @media (max-width: 880px) {
                top: 35px;
                left: 18px;
                height: calc(100% - 20px);
            }
        }

        &--toc {
            margin-top: 10px;
        }
    }

    .t-docs-nav__main-list__item>.t-docs-nav__sub-list {
        padding: 0;
    }

    &__base {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--color-cloud);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-top: solid 1px transparent;
        transition: border 0.3s ease-in-out;

        svg {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            transform: rotateZ(90deg);
        }

        &[data-show] {
            border-top: solid 1px var(--color-stratus);

            svg {
                opacity: 0.5;
            }
        }
    }

    &__control {
        appearance: none;
        display: none;
        padding: 8px;
        border: var(--border-width) solid var(--color-alto);
        background: #fff;
        border-radius: var(--border-radius);
        line-height: 0;
        cursor: pointer;

        &:hover {
            border-color: var(--color-carbon);
        }
    }

    @media (max-width: 880px) {
        &__control {
            display: block;
        }

        &__main-list {
            display: none;
        }

        &__heading {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--gap-half);

            img {
                max-width: 30px;
            }
        }

        &__base {
            display: none;
        }

        &--open {
            position: fixed;
            top: 0;
            left: 0;
            background-color: #fff;
            z-index: 50;
            height: 100%;
            width: 100%;

            #{$c}__heading {
                padding: var(--gap);
                background-color: #fff;
                position: sticky;
                top: 0;
                z-index: 2;
                border-bottom: 2px solid var(--color-stratus);
            }

            #{$c}__main-list {
                display: block;
                padding: 0 var(--gap);
            }
        }
    }
}