* {
    box-sizing: border-box;
}

[x-cloak] {
    display: none !important;
}

body.t-scroll-lock {
    /* Position-fixed hack, locks iOS too */
    position: fixed;
    width: 100%;

    /* Avoids scroll to top */
    top: calc(var(--scroll-padlock-scroll-top) * -1);

    /* Reserves space for scrollbar */
    padding-right: var(--scroll-padlock-scrollbar-width);
}

body {
    font-family: 'TT Norms Pro', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    background: white;
    color: var(--text-light);

    &.dark{
        background: var(--background-dark);

        --background-light: var(--background-dark);
        --text-light: var(--text-dark);

        --background-nav-light: var(--background-nav-dark);
        --background-footer-light: var(--background-footer-dark);

        --selected-blue-light: var(--selected-blue-dark);

        --changelog-date: var(--color-cloud);
	    --changelog-content: var(--color-cloud);

        --card-background-light: var(--card-background-dark);
        --card-paragraph-light: var(--card-paragraph-dark);

        --arrow-color-light: var(--arrow-color-dark);

        --nav-shadow-light: var(--nav-shadow-dark);
        --side-nav-shadow-light: var(--side-nav-shadow-dark);
    }
}

.unhandled {
    border: solid 1px rgb(255, 138, 138);
    border-radius: 10px;
}

li code,
p code,
dd code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    white-space: pre-wrap;
    line-height: 1.4;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--color-stratus);
    color: var(--color-carbon);
    padding: 0 6px;
    border: 1px solid var(--color-alto);
    border-radius: 4px;
    position: relative;
    top: 0;
    display: inline-block;
}

.cc-helper__button,
.cc-helper__altbutton {
    font-size: 16px;
    font-weight: 700;
    padding: .5rem .75rem;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.cc-helper__button {
    color: white;
    background-color: var(--color-neptune);
    border: solid 2px transparent;

    &:hover {
        background-color: #123da6;
    }
}

.cc-helper__altbutton {
    color: var(--color-neptune);
    background-color: transparent;
    border: solid 2px var(--color-neptune);

    &:hover {
        border-color: #123da6;
        color: #123da6;
    }
}

.c-faux-search {
    display: flex;
    gap: 10px;
    margin: 30px auto 0;
    padding: 8px 12px;
    max-width: 90%;
    width: 400px;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
    appearance: none;
    border: solid 2px #eee;

    svg {
        width: 18px;
        opacity: 0.5;
    }

    &--text {
        display: inline-block;
        text-align: left;
        flex: 1;
        font-weight: bold;
        opacity: 0.8;
        font-size: 14px;
    }

    &--shortcut {
        display: inline-block;
        font-weight: bold;
        opacity: 0.8;
        font-size: 14px;
    }

    &:hover {
        border-color: var(--color-nimbus);
    }
}

.onpagesearchwrapper {
    max-width: 800px;
    margin: 0 auto;

    .search-label {
        text-align: center;
    }
}

dd{
    margin-inline-start: 0;
    margin-bottom:1rem;
}

dt{
    font-weight:700;
}