* {
  box-sizing: border-box;
}

[x-cloak] {
  display: none !important;
}

body.t-scroll-lock {
  /* Position-fixed hack, locks iOS too */
  position: fixed;
  width: 100%;

  /* Avoids scroll to top */
  top: calc(var(--scroll-padlock-scroll-top) * -1);

  /* Reserves space for scrollbar */
  padding-right: var(--scroll-padlock-scrollbar-width);
}

body {
  font-family: "TT Norms Pro", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--text);
}

.unhandled {
  border: solid 1px rgb(255, 138, 138);
  border-radius: 10px;
}

li code,
p code,
dd code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  line-height: 1.4;
  font-weight: 500;
  font-size: 0.8em;
  background-color: var(--inline-code-bg);
  color: var(--text);
  padding: 0 6px;
  border: 1px solid var(--inline-code-border);
  border-radius: 4px;
  position: relative;
  top: 0;
}
pre code {
  border: none;
}

li code, p code {
  white-space: pre-wrap;
  display: inline-block;
}

.cc-helper__button,
.cc-helper__altbutton {
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.cc-helper__button {
  color: var(--color-cloud);
  background-color: var(--color-neptune);
  border: solid 2px transparent;

  &:hover {
    background-color: var(--color-neptune-double);
  }
}

.cc-helper__altbutton {
  color: var(--search-icon-fill);
  background: var(--background);
  border: 2px solid var(--button-border);

  svg {
    fill: var(--search-icon-fill);
  }

  &:hover {
    background-color: var(--button-hover);
  }
}

.c-faux-search {
  display: flex;
  gap: 10px;
  margin: 30px auto 0;
  padding: 8px 12px;
  max-width: 90%;
  width: 400px;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  appearance: none;
  border: solid 2px var(--faux-search-border);

  svg {
    width: 18px;
    opacity: 0.5;
    fill: var(--text);
  }

  &--text {
    display: inline-block;
    text-align: left;
    flex: 1;
    font-weight: bold;
    opacity: 0.8;
    font-size: 14px;
  }

  &--shortcut {
    display: inline-block;
    font-weight: bold;
    opacity: 0.8;
    font-size: 14px;
  }

  &:hover {
    border-color: var(--faux-search-hover);
  }
}

.onpagesearchwrapper {
  max-width: 800px;
  margin: 0 auto;

  .search-label {
    text-align: center;
  }
}

/* Reference docs */
dd {
  margin-inline-start: 0;
}

dd + dd article.bordered {
  margin-top: -2px;
}

dt {
  font-weight: 700;
}

dt:not(:first-of-type) {
  margin-top: 1rem;
}

.show-in-cms {
  display: none;
}

article.bordered {
  border: 2px solid var(--border-medium);
  border-radius: 8px;
  padding: 10px;
  margin: 0;

  .code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-weight: 500;
    font-size: 16px;
  }

  & details {
    cursor: pointer;
  }
}
