.l-footer{
  background: var(--background-footer-light);

  &__emblem{
    & *{
      fill: var(--emblem-fill-light);
    }
  }

  &__inner{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:32px 0;
    max-width:1376px;
    margin:auto;

    @media(max-width:1408px){
      max-width: calc(100% - 32px);
    }

    @media(max-width:880px){
      flex-direction: column;
    }
  }

  &__links{
    width:100%;
    max-width: 1026px;
    display:grid;
    grid-template-columns: repeat(4,1fr);

    & li {
      font-size:16px;
      padding:12px;

      & a{
        margin-right: calc(24px + .5rem);
      }

      & svg{
        fill:var(--text-light);

        position:relative;
        top:-2px;
        margin-left:calc(-24px - .25rem);
        display:inline-block;
        vertical-align:middle;
        height:24px;
        width:24px;
      }
    }

    @media(max-width:880px){
      grid-template-columns: 1fr;
    }
  }

  & ul{
    list-style: none;
    margin:0;
    padding:0;
  }

  & a{
    text-decoration: none;
    color:var(--text-light);
    font-weight:bold;

    &:hover{
      text-decoration: underline;
    }
  }

  &__banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:16px 0;
    max-width:1376px;
    margin:auto;
    border-top: 1px solid var(--color-alto);

    @media(max-width:1408px){
      max-width: calc(100% - 32px);
    }

    @media(max-width:880px){
      flex-direction: column;
      row-gap:8px;
    }

    &--links{
      display: flex;
      align-items: center;
      column-gap: 24px;

      @media(max-width:880px){
        flex-direction: column;
        row-gap:8px;
      }

      &-container{
        display: flex;
        gap: 24px;
        font-size: 12px;

        @media(max-width:880px){
          flex-direction: column;
          row-gap:8px;
          align-items: center;
        }
      }

      &__copyright{
        display: flex;
      }
      
      &__informational-links{
        display:flex;
        align-items: center;
        gap:24px;

        &>a{
          font-weight:normal;
          text-decoration: underline;
        }
      }

      &__socials{
        display:flex;
        align-items: center;

        &>a{
          display: flex;
          padding:8px;
          background:var(--background-footer-light);
          border-radius: 8px;
          cursor:pointer;

          &:hover{
            filter: invert(1);
          }
          &>svg{
            height:24px;
          }
        }
      }
    }
  }

  &__status{
    width:100%;
    max-width:400px;
    border-radius:10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    height:48px;
    border:1px solid transparent;

    &.operational:hover{
      border: 1px solid var(--color-emerald);
    }

    &.under_maintenance:hover{
      border: 1px solid var(--color-neptune);
    }

    &.degraded_performance:hover{
      border: 1px solid var(--color-sol);
    }

    &.partial_outage:hover{
      border: 1px solid var(--color-amber);
    }

    &.major_outage:hover{
      border: 1px solid var(--color-ruby);
    }

    .logo-container{
      background: var(--color-cloud);
      display: flex;
      align-items: center;
      justify-content: center;
      padding:10px;
    }

    .status-message{
      display: flex;
      height:100%;
      width:100%;
      gap:10px;
      align-items: center;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 500;
      color: var(--changelog-date);
      padding:0 8px;
      cursor:pointer;

      & > span{
        margin-right:auto;
      }

      &.none{
        background: var(--color-emerald-10);
        &>svg{
          fill: var(--color-emerald);
        }
      }

      &.under_maintenance{
        background: var(--color-luna);
        &>svg{
          fill: var(--color-neptune);
        }
      }

      &.minor{
        background: var(--color-sol-light);
        &>svg{
          fill: var(--color-sol);
        }
      }

      &.major{
        background: var(--color-amber-10);
        &>svg{
          fill: var(--color-amber);
        }
      }

      &.critical{
        background: var(--color-ruby-10);
        &>svg{
          fill: var(--color-ruby);
        }
      }
    }
  }
}