.l-footer{
  background: #ECECEC;

  &__inner{
    display:flex;
    justify-content: space-between;
    width:100%;
    max-width:1440px;
    margin:auto;
    padding:32px 32px 16px;
  }

  &__links{
    width:100%;
    max-width: 1026px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
  }

  & ul{
    list-style: none;
    margin:0;
    padding:0;
  }
}