.l-footer{
  background: var(--background-footer-light);

  &__inner{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:32px 0;
    max-width:1376px;
    margin:auto;

    @media(max-width:1408px){
      max-width: calc(100% - 32px);
    }

    @media(max-width:880px){
      flex-direction: column;
    }
  }

  &__links{
    width:100%;
    max-width: 1026px;
    display:grid;
    grid-template-columns: repeat(4,1fr);

    & li {
      font-size:16px;
      padding:12px;
      display:flex;

      & svg{
        margin-left: 4px;
      }
    }

    @media(max-width:880px){
      grid-template-columns: 1fr;
    }
  }

  & ul{
    list-style: none;
    margin:0;
    padding:0;
  }

  & a{
    text-decoration: none;
    color:#212121;
    font-weight:bold;
  }

  &__banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:32px 0;
    max-width:1376px;
    margin:auto;

    @media(max-width:1408px){
      max-width: calc(100% - 32px);
    }
  }
}