.l-footer{
  background: var(--background-footer-light);

  &__inner{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:32px 0;
    max-width:1376px;
    margin:auto;

    @media(max-width:1408px){
      max-width: calc(100% - 32px);
    }

    @media(max-width:880px){
      flex-direction: column;
    }
  }

  &__links{
    width:100%;
    max-width: 1026px;
    display:grid;
    grid-template-columns: repeat(4,1fr);

    & li {
      font-size:16px;
      padding:12px;
      display:flex;

      & svg{
        margin-left: 4px;
        fill:var(--text-light);
      }
    }

    @media(max-width:880px){
      grid-template-columns: 1fr;
    }
  }

  & ul{
    list-style: none;
    margin:0;
    padding:0;
  }

  & a{
    text-decoration: none;
    color:var(--text-light);
    font-weight:bold;

    &:hover{
      text-decoration: underline;
    }
  }

  &__banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:16px 0;
    max-width:1376px;
    margin:auto;
    border-top: 1px solid #D7D7D7;

    @media(max-width:1408px){
      max-width: calc(100% - 32px);
    }

    &--links{
      display: flex;
      align-items: center;
      
      &__informational-links{
        display:flex;
        align-items: center;
        font-size: 12px;
        gap:24px;
        margin-right:24px;

        &>a{
          font-weight:normal;
          text-decoration: underline;
        }
      }

      &__socials{
        display:flex;
        align-items: center;

        &>a{
          display: flex;
          padding:8px;
          background:var(--background-footer-light);
          border-radius: 8px;
          cursor:pointer;

          &:hover{
            filter: invert(1);
          }
          &>svg{
            height:24px;
          }
        }
      }
    }
  }

  &__status{
    border-radius:10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    height:48px;
    border:1px solid transparent;

    &.operational:hover{
      border: 1px solid #38A413;
    }

    &.under_maintenance:hover{
      border: 1px solid #356EE0;
    }

    &.degraded_performance:hover{
      border: 1px solid #F7E064;
    }

    &.partial_outage:hover{
      border: 1px solid #FD8A51;
    }

    &.major_outage:hover{
      border: 1px solid #F03A47;
    }

    .logo-container{
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding:10px;
    }

    .status-message{
      display: flex;
      height:100%;
      gap:10px;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color:#616161;
      padding:0 8px;
      cursor:pointer;

      &.operational{
        background:#ECF6E8;
        &>svg{
          fill:#38A413;
        }
      }

      &.under_maintenance{
        background: #CDDBF7;
        &>svg{
          fill:#356EE0;
        }
      }

      &.degraded_performance{
        background: #FFFCF0;
        &>svg{
          fill:#F7E064;
        }
      }

      &.partial_outage{
        background: #FFF1EA;
        &>svg{
          fill:#FD8A51;
        }
      }

      &.major_outage{
        background: #FEECED;
        &>svg{
          fill:#F03A47;
        }
      }
    }
  }
}