.l-footer {
  background: var(--background-footer);

  &__emblem {
    align-self:flex-start;
    & * {
      fill: var(--emblem-fill);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 0;
    max-width: 1376px;
    margin: auto;

    @media (max-width: 1408px) {
      max-width: calc(100% - 32px);
    }

    @media (max-width: 880px) {
      flex-direction: column;
    }
  }

  &__links {
    width: 100%;
    max-width: 1026px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & li {
      font-size: 16px;
      padding: 12px;

      & a {
        margin-right: calc(24px + 0.5rem);
      }

      & svg {
        fill: var(--text);

        position: relative;
        top: -2px;
        margin-left: calc(-24px - 0.25rem);
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        width: 24px;
      }
    }

    @media (max-width: 880px) {
      grid-template-columns: 1fr;
    }
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    max-width: 1376px;
    margin: auto;
    border-top: 1px solid var(--border-medium);

    @media (max-width: 1408px) {
      max-width: calc(100% - 32px);
    }

    @media (max-width: 880px) {
      flex-direction: column;
      row-gap: 8px;
    }

    &--links {
      display: flex;
      align-items: center;
      column-gap: 24px;

      @media (max-width: 880px) {
        flex-direction: column;
        row-gap: 8px;
      }

      &-container {
        display: flex;
        gap: 24px;
        font-size: 12px;

        @media (max-width: 880px) {
          flex-direction: column;
          row-gap: 8px;
          align-items: center;
        }
      }

      &__copyright {
        display: flex;
      }

      &__informational-links {
        display: flex;
        align-items: center;
        gap: 24px;

        & > a {
          font-weight: normal;
          text-decoration: underline;
        }
      }

      &__socials {
        display: flex;
        align-items: center;

        & > a {
          display: flex;
          padding: 8px;
          background: var(--background-footer);
          border-radius: 8px;
          cursor: pointer;

          &:focus-visible{
            z-index:2;
          }

          &:hover {
            filter: invert(1);
          }
          & > svg {
            height: 24px;
          }
        }
      }
    }
  }

  &__status {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 48px;
    border: 1px solid transparent;

    &.operational:hover {
      border: 1px solid var(--color-emerald);
    }

    &.under_maintenance:hover {
      border: 1px solid var(--color-neptune);
    }

    &.degraded_performance:hover {
      border: 1px solid var(--color-sol);
    }

    &.partial_outage:hover {
      border: 1px solid var(--color-amber);
    }

    &.major_outage:hover {
      border: 1px solid var(--color-ruby);
    }

    .logo-container {
      background: var(--status-logo-bg, #fff);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

    .status-message {
      display: flex;
      height: 100%;
      width: 100%;
      gap: 10px;
      align-items: center;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 500;
      color: var(--text, #212121);
      padding: 0 8px;
      cursor: pointer;

      & > span {
        margin-right: auto;
      }

      &.none {
        background: var(--status-operational-bg, #ebf6e7);
        & > svg {
          fill: var(--color-emerald);
        }
      }

      &.under_maintenance {
        background: var(--status-maintenance-bg, #f0f5ff);
        & > svg {
          fill: var(--color-neptune);
        }
      }

      &.minor {
        background: var(--status-minor-bg, #fffbe4);
        & > svg {
          fill: var(--color-sol);
        }
      }

      &.major {
        background: var(--status-major-bg, #ffede5);
        & > svg {
          fill: var(--color-amber);
        }
      }

      &.critical {
        background: var(--status-critical-bg, #ffe7ea);
        & > svg {
          fill: var(--color-ruby);
        }
      }
    }
  }
}
