.c-hero{
  margin:46px auto;
  max-width:1376px;
  border-radius:10px;
  display:flex;
  justify-content: center;
  
  @media(max-width:1408px){
    max-width: calc(100% - 32px);
  }
  h1{
    margin:auto;
  }
}