.c-hero {
  margin: 48px auto;
  max-width: 1376px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: balance;
  line-height: 1.2;

  @media (max-width: 1408px) {
    max-width: calc(100% - 32px);
  }
  h1 {
    margin: auto;
    text-align: center;
  }
}
