.iframe-controls {
  display: none;
}

html.iframed {
  padding-bottom: 50px;

  .iframe-controls {
    position: fixed;
    bottom: 0;
    display: block;
    z-index: 9;
    background-color: var(--background);
    border-top: 2px solid var(--border-subtle);
    width: 100%;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--gap-half);
      text-align: center;
      padding: var(--gap-half);
      text-decoration: none;
      color: var(--link);

      &:hover {
        color: var(--link-hover);
        background-color: var(--button-hover);
      }
    }

    svg {
      fill: currentColor;
    }
  }

  .l-breadcrumb,
  .l-footer,
  .l-banner,
  .l-nav,
  .l-left,
  .l-small-content .l-heading,
  .l-small-content .l-subheading,
  #hubspot-messages-iframe-container {
    display: none !important;
  }

  .l-small-content {
    padding: 0 20px 20px 20px;
    margin: 0;
  }
  .changelog-main {
    padding: 0;
    margin: 0;
  }

  .u-card-box {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
