.iframe-controls {
  display: none;
}

html.iframed {
  padding-bottom: 50px;

  .iframe-controls {
    position: fixed;
    bottom: 0;
    display: block;
    z-index: 9;
    background-color: var(--color-cloud);
    border-top: 2px solid var(--color-stratus);
    width: 100%;
  
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--gap-half);
      text-align: center;
      padding: var(--gap-half);
      text-decoration: none;
      color: var(--color-neptune);
  
      &:hover {
        background-color: var(--color-luna);
      }
    }
  
    svg {
      fill: currentColor;
    }
  }

  .l-nav,
  .l-left,
  .l-small-content .l-heading,
  .l-small-content .l-subheading,
  #hubspot-messages-iframe-container {
    display: none !important;
  }

  .u-card-box {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
