.l-nav {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.l-page {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.l-eyebrows {
    width: 100%;
    padding: 0 20px;
    margin-top: 24px;

    #search {
        max-width: 720px;
        --pagefind-ui-scale: 0.7;
    }
}

.l-column {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    main {
        flex: 3;
        min-width: 0;
    }

    @media (max-width: 880px) {
        padding: 0;
        flex-direction: column;

        main {
            width: 100%;
        }
    }

}

.l-left,
.l-right {
    max-width: 300px;
    min-width: 300px;
    flex: 1;
    position: sticky;
    top: 20px;
    align-self: flex-start;
    max-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.l-small-content,
.l-content {
    flex: 4;
    min-width: 0;
    position: relative;

    @media (max-width: 880px) {
        box-shadow: none;
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.l-small-content {
    max-width: 1024px;
}

.l-content-split {
    display: flex;
    gap: 30px;
}

.l-heading {
    margin: 0 0 20px;
}

.l-center-heading {
    font-size: 48px;
    text-align: center;
}

.l-subheading {
    margin: 0 0 20px 0;
    font-size: 16px;
    color: var(--color-nimbus);
}

.l-home-card {
    margin: 80px 0;
}

.l-toc {
    &__heading {
        margin: 0 0 var(--gap-half);
    }

    &__list {
        margin: 0;
        list-style: none;
        padding: 0;
    }
}

.l-column .l-left {
    @media (max-width: 880px) {
        padding: 0 var(--gap-half);
        max-width: none;
        width: 100%;
        position: static;
        max-height: none;
    }
}

.l-column .l-right {
    @media (max-width: 1200px) {
        display: none;
    }
}