.c-left-right-block{
  margin:48px auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 32px;

  max-width:1376px;
  border-radius:10px;
  
  @media(max-width:1408px){
    max-width: calc(100% - 32px);
  }

  @media(max-width:880px)
  {
    grid-template-columns: 1fr;
    row-gap:32px;
  }

  & img{
    border-radius:10px;
    width:100%;
    max-width:100%;
  }

  &__right{
    display:flex;
    align-items: center;
    justify-content: center;
  }

}