.l-header {
    width: 100%;
    padding: 0 var(--gap);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);

    &__site {
        display: flex;
        align-items: center;
        gap: var(--gap-half);
    }

    &__name {
        font-size: 18px;
        color: var(--color-neptune);
        text-decoration: none;
        font-weight: bold;
    }

    &__emblem {
        line-height: 0;
    }

    &__bar {
        height: 48px;
        width: var(--border-width);
        background-color: var(--color-neptune);
    }

    &__logo {
        width: 40px;
    }

    &__middle {
        flex: 1 1 auto;
    }

    &__links {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: var(--gap-half);

        a {
            display: block;
            text-decoration: none;
            padding: var(--grid-size) var(--gap-half);
            font-weight: bold;
            color: var(--color-carbon);
            border-top: var(--grid-size) solid transparent;
            border-bottom: var(--grid-size) solid transparent;


            &[aria-current="page"] {
                color: var(--color-nimbus);
                border-bottom-color: var(--color-alto);
                cursor: default;
            }
        }
    }

    &__right {
        display: flex;
        gap: 10px
    }

    &__search {
        padding: 12px;
        display: flex;
        align-items: center;
        border-radius: var(--border-radius);
        transition: background-color .3s ease;
        cursor: pointer;
        border: none;
        background-color: transparent;
        appearance: none;

        &:hover {
            background-color: var(--color-luna);
        }
    }

    &__backlink {
        color: var(--color-neptune);
        font-weight: bold;
        display: flex;
        align-items: center;

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        svg {
            height: 1em;
            position: relative;
            top: 2px;
            margin-left: 6px;

            path {
                fill: currentColor;
            }
        }
    }


    &__mobile-controls,
    &__mobile-menu {
        display: none;
    }
    @media (max-width: 880px) {
        padding: 0 var(--gap-half);

        &__middle,
        &__right {
            display: none;
        }


        &__mobile-controls {
            display: flex;
            gap: 10px;
        }

        &__mobile-menu {
            display: block;
            position: absolute;
            top: 80px;
            background: #fff;
            z-index: 10;
            width: 100%;
            height: calc(100vh - 80px);
            left: 0;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: var(--gap);

            .cc-helper__button {
                margin-top: var(--gap);
                text-align: center;
                width: 100%;
            }
        }

        &__links {
            flex-direction: column;

            li {
                width: 100%;
            }
            
            a {
                padding: var(--gap-half);
                border-radius: var(--border-radius);
                border: var(--border-width) solid transparent;
                text-align: center;
    
                &[aria-current="page"] {
                    border-color: var(--color-alto);
                }
            }
        }
    }
}

.l-banner {
    background-color: var(--color-neptune);
    color: var(--color-cloud);
    width: 100%;
    font-size: 16px;
    padding: 8px 25px;
    margin: 0;
    gap: 5px;

    a {
        color: var(--color-cloud);
        font-weight: bold;
    }
}