.c-pagination-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-half);
  margin: var(--gap) 0;

  &__control {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 700;

      &:hover {
          text-decoration: none;
          color: var(--color-neptune);
      }

      svg {
          padding-top: 2px;
          width: 12px;
          height: 12px;
          margin-left: var(--gap);
      }
  }

  &__prev svg {
      transform: rotate(180deg);
      margin-left: 0;
      margin-right: var(--gap);
  }
}