.c-prev-next-block {
  $c: &;

  padding-top: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);

  @media(max-width:880px){
    display:none;
    flex-direction: column;
  }

  &__item {
    flex: 1 0 60%;
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
    padding-bottom: 0;

    &--card-arrow{
      padding-top:20px;
      margin-top:auto;
      display:flex;
      align-items: center;

      &>svg{
        fill:var(--arrow-color-light);
      }
    }

    &--next {
      & .c-prev-next-block__item--card-arrow{
        &>svg{
          margin-left: auto;
        }
      }
    }

    &--previous {
      margin-right: 0;

      & .c-prev-next-block__item--card-arrow{
        &>svg{
          transform:rotate(180deg);
        }
      }
    }
  }

  &__heading {
    color: var(--text-light);
    font-size: 14px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: var(--gap-quarter);

    svg {
      fill: currentColor;
      height: 16px;
      width: 16px;
    }
  }
}

.c-prev-next-button {
  $c: &;

  background: var(--card-background-light);
  border: var(--border-width) solid var(--color-alto);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  color: var(--text-light)!important;
  border-radius: 10px;
  flex: 1;
  text-decoration: none;

  &:hover {
    border-color: var(--color-neptune);

    & svg{
      fill:var(--color-neptune);
    }
  }

  &__header {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    font-size: 14px;
  }

  &__icon {
    width: 34px;
    height: 34px;
  }

  &__category {
    flex: 1;
    line-height: 1.2;
  }

  &__body {
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: var(--gap-half);
  }
}

.c-prev-next-mobile {
  $c: &;
  display:none;
  position: sticky;
  font-size: 16px;
  font-weight: bold;
  padding:8px 0;

  align-items: center;
  justify-content: space-between;
  gap:20px;

  background: var(--background-nav-light);

  border-top: var(--border-width) solid var(--color-alto);
  border-bottom: var(--border-width) solid var(--color-alto);
  width: 100vw;
  margin-left: -16px;
  bottom:0;

  margin-top:48px;
  margin-bottom:-48px;

  @media(max-width:880px){
    display:flex;
  }

  & svg{
    box-sizing: content-box;
    fill: var(--text-light);
    flex-shrink: 0;
    padding: 16px;
  }

  & > a {
    display:flex;
    & > svg{
      opacity: 1;
    }
  }

  & > svg{
    opacity: .2;
  }

  &__info{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align:center;
    line-height: 20px;
  }

  &__pages{
    font-weight: normal;
    flex-shrink:0;
    font-size:14px;
    color: var(--changelog-date);
    display: flex;
    gap:6px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    & span{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    & img{
      width:16px;
      height:16px;
    }
  }

  &__title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}