.c-related-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.c-related-article {
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 20px;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color-alto);
  text-decoration: none;
  height:100%;

  &:hover {
    border-color: var(--color-nimbus);
  }

  &__image {
    height: 100%;
    max-width: 20%;
    object-fit: cover;
  }

  &__title{
    font-size:20px;
    color:var(--color-carbon);
  }

  &__desc{
    color:#888888;
    font-size:16px;
    margin-bottom:auto;
  }
  
  &__title, &__desc {
    margin: 0;
    text-decoration: none;
  }

  &__footer{
    margin-top:10px;
    display:flex;
    justify-content: space-between;

    &--category{
      display:flex;
      font-weight:450;
      align-items: center;
      font-size: 12px;
      border-radius: 4px;
      line-height:24px;
      padding:1px 8px;
      background: #E6EDFB;
      color: var(--color-carbon);
    }
  }
}