.c-related-article-container {
  list-style: none;
  padding: 0;

  li:not(:last-child) {
    margin-bottom: var(--gap-half);
  }
}

.c-related-article {
  display: block;
  padding: var(--gap-half);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color-alto);
  text-decoration: none;

  &:hover {
    border-color: var(--color-nimbus);
  }

  &__image {
    height: 100%;
    max-width: 20%;
    object-fit: cover;
  }
  
  &__title, &__desc {
    margin: var(--gap-half);
    color: var(--color-carbon);
    text-decoration: none;
  }
}