.t-searcher-modal,
.t-searcher-modal .t-searcher-inner,
#searchcontainer,
#resultscontainer {
  min-height: 0; /* allows children to shrink */
}

.t-searcher-modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;

    #searchresults{
        overflow-y: scroll;
    }

    .t-searcher-inner{
        margin-top: 5vh;
        width: 820px;
        max-width: 90%;
        max-height: 90vh;
        padding: 2em;
        overflow: hidden;

        h2{
            display:block;
            margin-top:0;
        }

        @media (max-width: 800px) {
            width: 100vw;
            height: 100vh;
            max-height: 100vh;
        }
    }
}

.t-searcher {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index:10;
}

.t-searcher-inner {
    background-color: var(--background-light);
    border-radius: 0.5em;
    width: 100%;
    max-width: 944px;
    padding: 16px 16px 0;
    display: flex;
    flex-direction: column;
    
    h2{
        display:none;
    }

    @media (max-width: 800px) {
        margin-top: 0;
        max-width: 100vw;
        border-radius: 0;
        padding: 16px 0 0;
    }

    & form{
        display: flex;
        align-items: center;

        &::before{
            top:auto;
            width: 24px;
            height: 24px;
        }
    }

    & input{
        border:2px solid #616161;
        border-radius:9999px;
        height: 58px;
        font-size: 20px;
        font-weight: 400;
        padding:0 calc(70px*var(--pagefind-ui-scale));

        &::placeholder{
            color:#888888;
            opacity: 1;
        }
    }

    & .pagefind-modular-input-clear{
        top: auto;
        right: 20px;
        height: 100%;
        padding: 0;
        background-color: transparent;
    }

    .mobile-filters{
        display: none;
        justify-content: center;
        align-items: center;
        margin-top:16px;
        background-color: var(--color-cloud);

        @media(max-width:800px){
            display: flex;
        }

        & svg{
            fill: var(--color-neptune);
        }
    }
}

.t-searcher-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: 700;
}

.t-searcher-close {
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
    cursor: pointer;
    border: none;
    background-color: transparent;
    appearance: none;

    &:hover {
        background-color: var(--color-luna);
    }
}

.t-searcher-message {
    text-align: center;
    color: var(--color-nimbus);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.t-searcher-recents-label {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--color-nimbus);
    font-weight: bold;
    font-size: 16px;
}

.t-searcher-recent {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: var(--border-radius);

    &:hover {
        background-color: var(--color-luna);
    }
}

.t-searcher-trigger {
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 1;
    padding: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    appearance: none;
    font-size: 18px;
    color: #9D9D9D;
}

.t-searcher-recent-text {
    margin-right: auto;
}

.t-searcher-delete {
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
    cursor: pointer;
    border: none;
    background-color: transparent;
    appearance: none;

    svg {
        width: 10px;
    }

    &:hover {
        background-color: var(--color-luna);

        path {
            fill: #000000;
        }
    }
}

.t-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.75;
    z-index: 99999;
}

.pagefind-modular-filter-pills-wrapper{
    padding: 0 !important;
    overflow-x:auto!important;
}

#searchcontainer{
    display:none;
    gap:16px;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    &.has-results{
        display:flex;
        margin-top: 48px;
    }

    & #searchfilter{
        min-width:216px;
        max-width: 216px;

        & h3{
            font-size:18px;
            margin-top:0;
            margin-bottom:16px;
        }

        @media (max-width: 800px) {
            min-width:0;
            max-width:none;
            display:grid;
            grid-template-rows: 0fr;

            &.open{
                grid-template-rows: 1fr;
            }
        }
    }

    .pagefind-modular-filter-pills{
        flex-direction: column;
        gap:8px;
    }
    .pagefind-modular-filter-pill{
        padding:13.5px 0;
        font-size:16px;
        border:none;
        color:var(--text-light);
        background:transparent;
        &>span{
            display:flex;
            justify-content: flex-start;
            width:100%;
            align-items: center;

            & .filter_count{
                font-size:12px;
                font-weight:bold;
                padding:8px 16px;
                background:#e6edfb;
                border-radius:9999px;
                margin-left:8px;
                color:var(--color-carbon);
            }
        }
    }
    .pagefind-modular-filter-pill[aria-pressed=true]{
        font-weight:bold;
        color:var(--text-light);

        & .filter_count{
            background:var(--color-neptune);
            color:var(--color-cloud);
        }
    }
}

#resultscontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

#searchsummary{
    color:#616161;
    font-size:16px;
    margin-bottom:16px;
}

#searchresults {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;

    .result {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;
        border-bottom:1px solid #ECECEC;
        padding:10px 0;
    }

    .link {
        padding: 0em .5em .5em;
        border-radius: var(--border-radius);
        background-color: transparent;
        text-decoration: none;

        &:hover {
            background-color: var(--card-background-light);
        }
    }

    .section {
        font-size: 0.7em;
        font-weight: 700;
        color: var(--changelog-date);
    }

    .title {
        position: relative;
        display: block;
        color: var(--text-light);
        font-size: 18px;
        font-weight: 700;
    }

    .info {
        display: block;
        color: var(--card-paragraph-light);
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    mark {
        background: var(--card-background-light);
        font-weight: 600;
        padding: 0 6px;
        border-radius: 8px;
        display: inline-block;
        color:var(--text-light);
    }
}

#searchpagination{
    display:none;
    justify-content: center;
    align-items: center;
    margin-top:24px;

    &.show{ display:flex }

    & > .pagination-box{
        cursor: pointer;
        width: clamp(34px,9vw,40px);
        aspect-ratio: 1 / 1;
        border:1px solid #D7D7D7;
        background:var(--card-background-light);
        color:var(--text-light);
        display:flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size:14px;

        &.active{
            background:var(--color-cloud);
        }

        & img{
            width:14px;
        }
    }
}

#onpagesummary {
    font-weight: 500;
    padding: 1em 0.5em 0;
}
