.t-searcher {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.t-searcher-inner {
    margin-top: 5vh;
    background-color: white;
    border-radius: 0.5em;
    width: 820px;
    max-width: 90%;
    max-height: 90vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 800px) {
        margin-top: 0;
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        border-radius: 0;
    }
}

.t-searcher-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: 700;
}

.t-searcher-close {
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
    cursor: pointer;
    border: none;
    background-color: transparent;
    appearance: none;

    &:hover {
        background-color: var(--color-luna);
    }
}

.t-searcher-message {
    text-align: center;
    color: var(--color-nimbus);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.t-searcher-recents-label {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--color-nimbus);
    font-weight: bold;
    font-size: 16px;
}

.t-searcher-recent {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: var(--border-radius);

    &:hover {
        background-color: var(--color-luna);
    }
}

.t-searcher-trigger {
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 1;
    padding: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    appearance: none;
    font-size: 18px;
    color: #9D9D9D;
}

.t-searcher-recent-text {
    margin-right: auto;
}

.t-searcher-delete {
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
    cursor: pointer;
    border: none;
    background-color: transparent;
    appearance: none;

    svg {
        width: 10px;
    }

    &:hover {
        background-color: var(--color-luna);

        path {
            fill: #000000;
        }
    }
}

.t-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.75;
    z-index: 99999;
}

#searchresults {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;

    .result {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;

        &.base {
            margin-top: 20px;
        }

        &.sub {
            margin-top: 0px;
            margin-left: 30px;

            .title::before {
                content: "#";
                font-size: 0.7em;
                position: absolute;
                right: calc(100% + .5ch);
                top: .4em;
            }

            .link {
                padding-left: calc(.5em + 1ch);
            }
        }
    }

    .link {
        padding: 0em .5em .5em;
        border-radius: var(--border-radius);
        background-color: transparent;
        text-decoration: none;

        &:hover {
            background-color: #F5F4F0;
        }
    }

    .section {
        font-size: 0.7em;
        font-weight: 700;
        color: var(--color-neptune);
    }

    .title {
        position: relative;
        display: block;
        color: var(--color-carbon);
        font-size: 18px;
        font-weight: 700;
    }

    .info {
        display: block;
        color: var(--color-nimbus);
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    mark {
        background: #034AD817;
        font-weight: 600;
        padding: 0 6px;
        border-radius: 8px;
        display: inline-block;
    }
}

#onpagesummary {
    font-weight: 500;
    padding: 1em 0.5em 0;
}
