.c-docs-image {
    $c: &;

    &__image {
        max-width: 800px;
        max-height: 100%;
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
        margin: 0 auto var(--gap) auto;
        display: block;
    }

    &--type-ui-snippet {
        #{$c}__image {
            max-height: 400px;
            width: auto;
            max-width: 100%;
        }
    }

    // Commenting out our old screenshot styling for now.
    //
    // &--type-screenshot {
    //     border: var(--border-width) solid var(--color-stratus);
    //     border-top-width: 2px;
    //     background: var(--color-stratus);
    //     border-top-width: 12px;
    //     border-radius: var(--border-radius);
    //     box-shadow: 0 5px 5px #0000000d;
    //     position: relative;
    //     margin: 0 0 var(--gap) 0;

    //     &::before {
    //         content: "";
    //         top: -9px;
    //         left: 4px;
    //         position: absolute;
    //         background-repeat: no-repeat;
    //         width: 100%;
    //         height: 20px;
    //         background-image: url("data:image/svg+xml,%3Csvg fill='none' height='6' viewBox='0 0 26 6' width='26' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' fill='%23f03a47' r='3'/%3E%3Ccircle cx='13' cy='3' fill='%23f3e077' r='3'/%3E%3Ccircle cx='23' cy='3' fill='%2338a413' r='3'/%3E%3C/svg%3E");
    //     }


    //     #{$c}__image {
    //         max-width: 100%;
    //         margin: 0;
    //         border-radius: var(--border-radius-inner);
    //     }
    // }
}

.c-notice {
    padding: 16px;
    margin-bottom: 24px;
    border-radius: var(--border-radius);
    display: flex;
    gap: var(--gap-half);

    &--important {
        background-color: var(--color-sol-light);
        border: var(--border-width) solid var(--color-sol);

        svg {
            fill: var(--color-sol);
        }
    }

    &--info {
        background-color: var(--color-luna);
        border: var(--border-width) solid var(--color-comet);

        svg {
            fill: var(--color-comet);
        }
    }

    &__icon {
        color: var(--color-carbon);
        padding-top: var(--grid-size);

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__content {

        > :first-child,
        >ul li:first-child p {
            margin-top: 0;
        }

        > :last-child,
        >ul li:last-child p {
            margin-bottom: 0;
        }
    }
}

.c-tabs {
    $c: &;

    &__nav {
        display: flex;
        margin-bottom: 8px;
        border-bottom: var(--border-width) solid var(--color-luna);
    }

    &__tab {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 24px;
        appearance: none;
        border: 0;
        background-color: transparent;
        font-size: inherit;
        border-bottom: var(--border-width) solid var(--color-luna);
        margin-bottom: -2px;
        color: var(--color-nimbus);
        cursor: pointer;
        font-family: 'TT Norms Pro', sans-serif;
        line-height: 1.6;
        font-size: 18px;
        font-weight: 500;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            border-color: var(--color-nimbus);
            color: var(--color-nimbus);
        }

        &[aria-selected="true"] {

            &,
            &:hover {
                border-color: var(--color-neptune);
                color: var(--color-neptune);
            }
        }
    }

    &__icon {
        width: auto;
        height: 30px;
    }

    &__close {
        width: 40px;
        height: 40px;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 15px;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 15px;
        background-color: rgba(var(--color-nimbus), 0.5);
        margin-left: auto;

        &:hover {
            background-color: var(--color-nimbus);
        }

        &:focus & {
            background-color: var(--color-neptune);
        }
    }

    &__item {
        display: block;

        &[hidden] {
            display: none;
        }
    }
}

.c-data-reference {
    $c: &;

    border: var(--border-width) solid var(--color-alto);
    border-radius: var(--border-radius);
    margin: 0 0 20px 0;
    background-color: var(--color-cloud);

    &__item {
        padding: 20px;
        margin: 0;

        &+& {
            border-top: var(--border-width) solid var(--color-alto);
        }
    }

    &__header {
        margin-bottom: 10px;
    }

    &__key {
        font-weight: 800;
    }

    &__description {
        display: block;

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}

.c-youtube {
    position: relative;
    padding-bottom: 52.7%;
    padding-top: 27px;
    height: 0;
    background: #000;
    border-top: var(--border-width) solid var(--color-luna);
    border-radius: var(--border-radius) var(--border-radius);
    overflow: hidden;
    margin-bottom: var(--gap);

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: var(--border-radius) var(--border-radius);
        overflow: hidden;
    }
}