h1{ font-size:48px;
  @media(max-width:400px){
    font-size: 42px;
  }
}

h2,
h3,
h4 {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;

  + p {
    margin-top: 0.6em;
  }
}

h2 + h3 {
  margin-top: 0.6em;
}

h3 + h4 {
  margin-top: 0.6em;
}

p, li, ul, ol {
  text-wrap: balance;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}