
.u-margin-bottom-0 {
  margin-bottom: 0;
}

.u-margin-top-0 {
  margin-top: 0;
}

.u-card-box {
  border: 2px solid var(--color-stratus);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-paper);
  padding: var(--gap);
}
