.u-margin-bottom-0 {
  margin-bottom: 0 !important;
}

.u-margin-top-0 {
  margin-top: 0 !important;
}

.u-padding-bottom-0 {
  padding-bottom: 0 !important;
}

.u-padding-top-0 {
  padding-top: 0 !important;
}

.u-card-box {
  /*border: 2px solid var(--color-stratus);
  border-radius: var(--border-radius);*/

  /*padding: var(--gap) 0;*/
}
