:root {
	--color-space: #354361;
	--color-neptune: #034ad8;
	--color-neptune-double: #0015b7;
	--color-comet: #8bb4ed;
	--color-luna: #f0f5ff;
	--color-carbon: #393939;
	--color-nimbus: #757575;
	--color-alto: #cfcfcf;
	--color-stratus: #eee;
	--color-cloud: #fff; // Fix RGBA references here
	--color-emerald: #38a413;
	--color-ruby: #f03a47;
    --color-amethyst: #c703d8;
	--color-amber: #fc6d26;
	--color-sol: #f7e064;
	--color-sol-light: #fffbe4;
	--color-emerald-10: #ebf6e7;
	--color-ruby-10: #ffe7ea;
    --color-amethyst-10: #fae6fc;
	--color-amber-10: #ffede5;

	--border-width: 2px;
	--border-radius: 8px;
	--border-radius-small: calc(var(--border-radius) / 2);
	--border-radius-inner: calc(var(--border-radius) - var(--border-width));
	--border-width-negative: calc(var(--border-width) * -1);

	--box-shadow-paper: 0 0 40px rgba(51, 51, 51, 0.1);

	--grid-size: 4px;
	--gap: calc(var(--grid-size) * 5);
	--gap-negative: calc(var(--gap) * -1);
	--gap-double: calc(var(--gap) * 2);
	--gap-half: calc(var(--gap) * 0.5);
	--gap-quarter: calc(var(--gap) * 0.25);
}