{% macro anyOfNav(propDoc, doc) %}
  <ol class="t-docs-nav__sub-list">
    {% for anyOfRef in propDoc.anyOf %}
      {% set anyOfDoc = anyOfRef | get_docs_by_ref %}
      {% if anyOfDoc.url == doc.url %}
        <li>
          <span class="t-docs-nav__sub-list__article" aria-current="page">{{ anyOfDoc.title | default(anyOfDoc.key, true) }}</span>
        </li>
      {% elif anyOfDoc.url %}
        <li>
          <a class="t-docs-nav__sub-list__article" href="/documentation/developer-reference{{ anyOfDoc.url }}">{{ anyOfDoc.title | default(anyOfDoc.key, true) }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endmacro %}