
	<!-- Start of HubSpot Embed Code -->
  {% if hubspot_id %}
    {% set hs_url = ["//js-na1.hs-scripts.com/", hubspot_id, ".js"] | join %}
    <script type="text/javascript" id="hs-script-loader" async defer src="{{ hs_url }}"></script>
  {% endif %}
	<!-- End of HubSpot Embed Code -->
	
  <!-- Global site tag (gtag.js) - Google Analytics -->
  {% if ga_id %}
    {% set ga_url = ["https://www.googletagmanager.com/gtag/js?id=", ga_id] | join %}
    <script async src="{{ ga_url }}"></script>
    <script>
      if (window.inEditorMode === undefined && window.location.host === "cloudcannon.com") {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ ga_id }}');
      }
    </script>
  {% endif %}

  {% if ga_verify %}
    <meta name="google-site-verification" content="{{ ga_verify }}" />
  {% endif %}