{% macro anyOf(entry) %}
  {% from 'doc-type.njk' import docType with context %}
  {% from 'doc-summary.njk' import summary with context %}

  {% if entry.anyOf | length %}
    <dt>Types:</dt>
    {% for anyOfRef in entry.anyOf %}
      <dd>
        <article class="bordered">
          {% set anyOfDoc = anyOfRef | get_docs_by_ref %}
          <div>
            {% if anyOfDoc.url %}
              <em><a href="{{ anyOfDoc.url }}">{{ anyOfDoc.title | default(anyOfDoc.key, true) }}</a></em> —
            {% endif %}

            <code>{{ docType(anyOfDoc) }}</code>
          </div>
          {{ summary(anyOfDoc) }}
        </article>
      </dd>
    {% endfor %}
  {% endif %}

{% endmacro %}