{% macro array(entry) %}
  {% from 'doc-type.njk' import docType with context %}
  {% from 'doc-summary.njk' import summary with context %}
  {% if entry.items | length %}
    <dt>Items:</dt>
    {% for itemRef in entry.items %}
      <dd>
        <article>
          {% set itemDoc = itemRef | get_docs_by_ref %}
          <p>
            {% if itemDoc.url %}
              <em><a href="{{ itemDoc.url }}">{{ itemDoc.title | default(itemDoc.key, true) }}</a></em> —
            {% endif %}
            <code>{{ docType(itemDoc) }}</code>
          </p>
          {{ summary(itemDoc) }}
        </article>
      </dd>
    {% endfor %}

    {% if entry.uniqueItems %}
      <dd><p>All items must be unique.</p></dd>
    {% endif %}
  {% endif %}
{% endmacro %}