{% set c = "c-interactive-card" %}
<div class="{{c}} {{c}}--{{variant}}">
  {% if galleryImage %}
    <img
      loading="lazy"
      class="{{c}}__image"
      src="{{ galleryImage }}"
      alt="{{ galleryAlt }}"
      width="50"
      height="50"
    />
  {% endif %}
  <h3>{{ title }}</h3>
  <div class="{{c}}__content">
    {{ subtext }}
  </div>

  <svg height="28" viewBox="0 0 28 28" width="28" xmlns="http://www.w3.org/2000/svg"><path d="m14.0003.666504-2.35 2.349996 9.3 9.3167h-20.283308v3.3333h20.283308l-9.3 9.3167 2.35 2.35 13.3334-13.3334z"></svg>
  <a href="{{ href }}" class="{{c}}__link" aria-label="{{ title }}">
    {{ include.link_content }}
  </a>
</div>