{% macro docType(entry) %}
  {% from 'doc-type-nested.njk' import docTypeNested with context %}
  {%- if entry.type == "array" -%}
    Array
    {%- if entry.items | length -%}
      {%- set join = joiner(" | ") -%}
      <span style="opacity: 0.5;">&lt;</span>
      {%- for itemRef in entry.items -%}
        {{- join() -}}
        {%- set itemDoc = itemRef | get_docs_by_ref -%}
        {{- docTypeNested(itemDoc) -}}
      {%- endfor -%}
      <span style="opacity: 0.5;">&gt;</span>
    {%- endif -%}
  {%- elif entry.type == "object" -%}
    Object
    {%- if entry.additionalProperties.length == 1 -%}
      {%- set additionalPropDoc = entry.additionalProperties[0] | get_docs_by_ref -%}
      <span style="opacity: 0.5;">&lt;</span>
      {{- docTypeNested(additionalPropDoc) -}}
      <span style="opacity: 0.5;">&gt;</span>
    {%- endif -%}
  {%- elif entry.type == "string" -%}
    {%- if entry.const -%}
      "{{ entry.const }}"
    {%- else -%}
      {{ entry.type }}
    {%- endif -%}
  {%- elif entry.type == "number" or entry.type == "integer" -%}
    {%- if entry.const or entry.const == 0 -%}
      {{ entry.const }}
    {%- else -%}
      {{ entry.type }}
    {%- endif -%}
  {%- elif entry.type == "boolean" -%}
    {%- if entry.const or entry.const == false -%}
      {{ entry.const }}
    {%- else -%}
      {{ entry.type }}
    {%- endif -%}
  {%- elif entry.anyOf | length -%}
    {%- set join = joiner(" | ") -%}
    {%- for anyOfRef in entry.anyOf -%}
      {{- join() -}}
      {%- set anyOfDoc = anyOfRef | get_docs_by_ref -%}
      {{- docTypeNested(anyOfDoc) -}}
    {%- endfor -%}
  {%- else -%}
    {{ entry.type | default(entry.title) | default('unknown') }}
  {%- endif -%}

{% endmacro %}
