{% if not entry.anyOf | length %}
  <dt>Type:</dt>
  <dd>
    <code>123123123</code>

    {%- if entry.required %}
      <small style="color: red;">(Required)</small>
    {%- endif -%}
  </dd>
{% endif %}
