{% macro nav(navigation) %}
    <nav id="t-docs-nav" class="t-docs-nav" :class="isPageNavOpen ? 't-docs-nav t-docs-nav--open' : 't-docs-nav'" x-init="$getNavMemory?.()">
        <div class="c-scroll-area__gradient c-scroll-area__gradient--bottom" 
            style="position:sticky;top:0;z-index:0;pointer-events:none;width:calc(100% + 16px);opacity: 1; margin-bottom:-100px;height: 100px; background: linear-gradient(to bottom, rgba(255, 255, 255, 1), transparent 70%);"
            x-show="$el.scrollHeight > $el.clientHeight"></div>
        <div class="t-docs-nav__heading">
            <h2>{{ navigation.title }}</h2>

            <button class="t-docs-nav__control" x-on:click="isPageNavOpen = true; $focusNav(true);" x-show="!isPageNavOpen" aria-label="Open docs menu">
                <img src="/assets/img/expand.svg" inline>
            </button>
            <button class="t-docs-nav__control" x-on:click="isPageNavOpen = false; $focusNav(false);" x-show="isPageNavOpen" aria-label="Close docs menu">
                <img src="/assets/img/close.svg" inline>
            </button>
        </div>
        
        <ol class="t-docs-nav__main-list">
            <li class="t-docs-nav__main-list__item">
                {% set index_page = url | get_index_page %}
                <a class="t-docs-nav__main-list__item__heading-group t-docs-nav__sub-list__article {% if page.data._uuid == index_page.attrs._uuid %}is-active{% endif %}" href="{{ index_page.url }}">
                    <span class="t-docs-nav__main-list__item__heading">{{ index_page.attrs.details.title }}</span>
                </a>
            </li>
            {% for block in navigation.headings | bubble_up_nav %}
                <li class="t-docs-nav__main-list__item" x-data="{ navOpen: {{ page.data._uuid in block._bubbled }}, isActive: {{ page.data._uuid in block._bubbled }} }">
                    {% if not block.heading_hidden %}
                        <div class="t-docs-nav__main-list__item__heading-group {% if page.data._uuid in block._bubbled %}nav-open{% endif %} {% if page.data._uuid in block._bubbled %}is-active{% endif %}" :class="navOpen ? 'nav-open' : ''" @click="navOpen = !navOpen">
                            {% if block.icon %}
                                {% set icon = block.icon + ":outlined" %}
                                <img src="{{ icon | icon("material") }}" inline>
                            {% endif %}
                            <span class="t-docs-nav__main-list__item__heading">{{ block.heading }}</span>
                            <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline>
                        </div>
                    {% endif %}
                    <template x-if="navOpen">
                    {{ subnav(block) }}
                    </template>
                </li>
            {% endfor %}
        </ol>
        <div class="c-scroll-area__gradient c-scroll-area__gradient--bottom" 
            style="position:sticky;bottom:0;z-index:0;pointer-events:none;width:calc(100% + 16px);opacity: 1; margin-top:-100px;height: 100px; background: linear-gradient(to top, rgba(255, 255, 255, 1), transparent 70%);"
            x-show="$el.scrollHeight > $el.clientHeight"></div>
    </nav>
{% endmacro %}

{% macro subnav(block) %}
    {% if block.items | length %}
        <ol class="t-docs-nav__sub-list">
            {% for item in block.items %}
                {% if item._type == "group" %}
                    <li>
                        <details {% if page.data._uuid in item._bubbled %}open{% endif %}
                        class="{% if page.data._uuid in item._bubbled %}nav-open{% endif %} {% if page.data._uuid in item._bubbled %}is-active{% endif %}"
                        @click="$setNavMemory?.()">
                            <summary class="t-docs-nav__sub-list__heading">
                                {{ item.name }}
                                <img src="{{ "chevron_right:outlined" | icon("material") }}" inline>
                            </summary>
                            {{ subnav(item) }}
                        </details>
                    </li>
                {% else %}
                    {% for article in item.articles %}
                        {% set article_page = search.page("_uuid="+article) %}
                        
                        {% if article_page %}
                        <li>
                            <a class="t-docs-nav__sub-list__article"
                                {% if article_page.url == url %} aria-current="page"{% endif %}
                                href="{{ article_page.url }}"
                                @click="$setNavMemory?.()">
                                {{ article_page.page.data.title }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}
