<footer class="l-footer">
    <div class="l-footer__inner">
        <a href="https://cloudcannon.com" class="l-header__emblem" aria-label="Go to cloudcannon.com">
            <img src="/assets/img/cc-docs-logo.svg" class="l-header__logo" alt="Go to cloudcannon.com" inline>
        </a>
        <div class="l-footer__links">
            <ul>
                {% for link in footernav.links.column_one %}
                    <li><a href="{{ link.href }}" {% if link.external %}target="_blank"{% endif %}>{{ link.text }}</a></li>
                {% endfor %}
            </ul>
            <ul>
                {% for link in footernav.links.column_two %}
                    <li><a href="{{ link.href }}" {% if link.external %}target="_blank"{% endif %}>{{ link.text }}</a></li>
                {% endfor %}
            </ul>
            <ul>
                {% for link in footernav.links.column_three %}
                    <li><a href="{{ link.href }}" {% if link.external %}target="_blank"{% endif %}>{{ link.text }}</a></li>
                {% endfor %}
            </ul>
            <ul>
                {% for link in footernav.links.column_four %}
                    <li><a href="{{ link.href }}" {% if link.external %}target="_blank"{% endif %}>{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>