{% macro nav(title) %}
    <nav id="t-docs-nav" class="t-docs-nav" :class="isPageNavOpen ? 't-docs-nav t-docs-nav--open' : 't-docs-nav'" x-init="$getNavMemory?.()">
            <div class="t-docs-nav__heading">
                <h2>{{ title }}</h2>

                <button class="t-docs-nav__control" x-on:click="isPageNavOpen = true; $focusNav(true);" x-show="!isPageNavOpen" aria-label="Open docs menu">
                    <img src="/assets/img/expand.svg" inline>
                </button>
                <button class="t-docs-nav__control" x-on:click="isPageNavOpen = false; $focusNav(false);" x-show="isPageNavOpen" aria-label="Close docs menu">
                    <img src="/assets/img/close.svg" inline>
                </button>
            </div>

        <ol class="t-docs-nav__main-list glossary" x-data="{ active: window.location.hash || '#a' }"
        x-init="
            window.addEventListener('hashchange', () => {
                active = window.location.hash
            })
        ">
            {% set letters = all_letters() %}
            
            {% for letter in letters %}
                <li class="t-docs-nav__main-list__item glossary-nav" >
                    <a class="cc-helper__button"
                    :class="{ 'selected': active === '#{{ letter | lower }}' }" href="/documentation/user-glossary/#{{ letter | lower }}">
                        {{ letter }}
                    </a>
                </li>
            {% endfor %}
        </ol>
        <div x-intersect="more = false" x-intersect:leave="more = true"></div>
    </nav>
    <!--<div class="t-docs-nav__base" :data-show="more">
        <img src="/assets/img/arrow.svg" class="t-docs-nav__base__icon" inline>
    </div>-->
{% endmacro %}