<ol class="l-header__links">
  {% for item in headingnav.items %}
    <li><a 
      {% if item.href in url %} aria-current="page"{% endif %}
      href="{{ item.href }}">{{ item.text }}</a></li>
  {% endfor %}
</ol>
