{% macro navItem(propDoc, doc) %}
  {% set hasActiveParent = doc.gid | is_gid_inside(propDoc.gid) %}
  {% set docUrl = url.replace("/documentation/developer-reference/configuration-file/","")%}
  {% set isActive = (propDoc.url+"/") == docUrl %}
  <li>
    {% if isActive %}
      <div class="t-docs-nav__main-list__item__heading-group t-docs-nav__sub-list__article nav-open">
        <span class="t-docs-nav__main-list__item__heading">{{ propDoc.title | default(propDoc.key, true) }}</span>
        <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline>
      </div>
    {% elif propDoc.url %}
      <a class="t-docs-nav__sub-list__article" href="/documentation/developer-reference/configuration-file{{ propDoc.url }}">
        {{ propDoc.title | default(propDoc.key, true) }}
        <!--<img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline>-->
      </a>
    {% endif %}

    {% from 'nav/object.njk' import objectNav with context %}
    {% from 'nav/any-of.njk' import anyOfNav with context %}

    {% if propDoc.url and (isActive or hasActiveParent) %}
      {% if propDoc.type == "object" %}
        {{ objectNav(propDoc, doc) }}
      {% elif propDoc.anyOf | length %}
        {{ anyOfNav(propDoc, doc) }}
      {% endif %}
    {% endif %}
  </li>
{% endmacro %}