<ol class="l-header__links" x-data="{ open: -1 }">
  {% for item in headingnav.items %}
    <li><a 
      x-data="{index: {{ loop.index }}}"
      @click="open = open == index ? -1 : index"
      :class="open == index ? 'open' : ''"
      {% if item.href in url %} aria-current="page"{% endif %}
      {% if item.href %}href="{{ item.href }}"{% endif %}>{{ item.text }} {% if item.items | length %}<img src="{{ "chevron_right:filled" | icon("material") }}" inline>{% endif %}</a>
      {% if item.items | length %}
        <div class="l-header__links--sub-list">
          <ul>
            {% for subitem in item.items %}
              <li>
                <a class="c-card-grid__card--item" href="{{ subitem.href }}">
                  {% set icon = subitem.icon + ":outlined" %}
                  <img src="{{ icon | icon("material") }}" inline />
                  <h3>{{ subitem.heading }}</h3>

                  <div><!-- spacer for grid layout --></div>
                  <p>{{ subitem.description }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      </li>
  {% endfor %}
</ol>
