{% if headingnav.banner_html %}
    <p class="l-banner">{{ headingnav.banner_html | safe }}</p>
{% endif %}

<nav class="l-header"
    @resize.window="
		if(window.innerWidth > 1023){
			isMainNavOpen = false;
		}
	">
    <div class="l-header__site">
        <a href="https://cloudcannon.com" class="l-header__emblem" aria-label="Go to cloudcannon.com">
            <img src="/assets/img/cc-docs-logo.svg" class="l-header__logo" alt="Go to cloudcannon.com" inline>
        </a>
        <div class="l-header__bar"></div>
        <a href="{{ '/' | url }}" class="l-header__name">
            Documentation
        </a>
    </div>

    <div class="l-header__middle">
        {% include "nav-links.njk" %}
    </div>
    <div class="l-header__right">
        {{ comp.SSGSelector() | safe }}
        <button x-on:click="isModalOpen = true; $focusSearch(true);" class="l-header__search" title="Search">
            <img src="/assets/img/search.svg" inline>
        </button>
        <a class="cc-helper__button" href="https://app.cloudcannon.com/register">Go to App</a>
    </div>
    <div class="l-header__mobile-controls">
        <button x-on:click="isModalOpen = true; $focusSearch(true);" class="l-header__search" title="Search">
            <img src="/assets/img/search.svg" inline>
        </button>
        <button x-on:click="isMainNavOpen = !isMainNavOpen; $focusNav(isMainNavOpen);" class="l-header__search" title="Menu">
            <img src="/assets/img/hamburger.svg" inline>
        </button>
    </div>
    <div class="l-header__mobile-menu" x-show="isMainNavOpen" x-trap='isMainNavOpen'>
        {% include "nav-links.njk" %}

        <div x-data="{ show_message: true }">
            {{ comp.SSGSelector() | safe }}
            <a class="cc-helper__button" href="https://app.cloudcannon.com/register">Go to App</a>
        </div>
    </div>
</nav>