<nav x-data class="l-header"
    @resize.window="
		if(window.innerWidth > 1023){
			isMainNavOpen = false;
		}
	">
    <div class="l-header__site">
        <a href="/documentation" class="l-header__emblem" aria-label="Go to cloudcannon.com">
            <img src="/assets/img/cc-docs-logo.svg" class="l-header__logo" alt="Go to cloudcannon.com" inline>
        </a>
    </div>

    <div class="l-header__middle">
        {% include "nav-links.njk" %}
    </div>
    <div class="l-header__right">
        <button x-on:click="isModalOpen = true; $focusSearch(true);" class="l-header__search" title="Search">
            <img src="{{ "search:outlined" | icon("material") }}" inline>
        </button>
        <input type="checkbox" id="light_dark" @click="darkMode = darkMode == 'dark' ? 'light' : 'dark'; localStorage.setItem('cc_darkMode',darkMode)" :checked="darkMode == 'dark'" />
        <label for="light_dark" class="l-header__search light-darkmode" title="Light/Dark mode">
            <div class="light-darkmode__button dark">
                <img src="{{ "dark_mode:filled" | icon("material") }}" inline>
            </div>
            <div class="light-darkmode__button light">
                <img src="{{ "light_mode:filled" | icon("material") }}" inline>
            </div>
        </label>
        <a class="cc-helper__button" href="https://app.cloudcannon.com/register">Go to App</a>
    </div>
    <div class="l-header__mobile-controls">
        <button x-on:click="isModalOpen = true; $focusSearch(true);" class="l-header__search" :class="isMainNavOpen ? 'hidden' : ''" title="Search">
            <img src="{{ "search:outlined" | icon("material") }}" inline>
        </button>
        <button x-on:click="isMainNavOpen = !isMainNavOpen; $focusNav(isMainNavOpen);" class="l-header__search menu" :class="isMainNavOpen ? 'hidden' : ''" title="Menu">
            <img src="{{ "menu:outlined" | icon("material") }}" inline>
        </button>
        <button x-on:click="isMainNavOpen = !isMainNavOpen; $focusNav(isMainNavOpen);$refs.back_button.parentElement.style.left = '0'" class="l-header__search menu close" :class="!isMainNavOpen ? 'hidden' : ''" title="Close Menu">
            <img src="{{ "close:outlined" | icon("material") }}" inline>
        </button>
    </div>

    <div class="l-header__mobile-menu" x-show="isMainNavOpen" x-trap.noscroll='isMainNavOpen'>
        <div class="button-container" x-data="{ show_message: true }">
            <a class="cc-helper__button" href="https://app.cloudcannon.com/register">Go to App</a>
            <input type="checkbox" id="light_dark" @click="darkMode = darkMode == 'dark' ? 'light' : 'dark'; localStorage.setItem('cc_darkMode',darkMode)" :checked="darkMode == 'dark'" />
            <label for="light_dark" class="l-header__search light-darkmode" title="Light/Dark mode">
                <div class="light-darkmode__button dark">
                    <img src="{{ "dark_mode:filled" | icon("material") }}" inline>
                </div>
                <div class="light-darkmode__button light">
                    <img src="{{ "light_mode:filled" | icon("material") }}" inline>
                </div>
            </label>
        </div>

        <div id="mobile-docnav" x-show="showmobilenav">
            <div class="back-button" @click="$el.parentElement.style.left = '-100%'" x-ref="back_button">
                <img src="{{ "arrow_back_ios:filled" | icon("material") }}" inline>
                Back to main menu
            </div>
        </div>

        <div class="l-header__links--sub-list">
            <ul class="l-header__links">
                {% for item in headingnav.items %}
                    {% if item.items | length %}
                        {% for subitem in item.items %}
                            <li>
                                <a class="c-card-grid__card--item" href="{{ subitem.href }}">
                                    {% if subitem.icon %}
                                        {% set icon = subitem.icon + ":outlined" %}
                                        <img src="{{ icon | icon("material") }}" inline />
                                    {% else %}
                                        <div><!-- spacer for grid layout --></div>
                                    {% endif %}
                                    <h3>{{ subitem.heading }}</h3>

                                    <div><!-- spacer for grid layout --></div>
                                    <p>{{ subitem.description }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>
                            <a class="c-card-grid__card--item" href="{{ item.href }}">
                                {{ item.text }}
                            </a>
                        </li>
                    {% endif %}
                    {% if not loop.last %}
                        <li class="l-header__links--divider"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>