{% macro objectMacro(entry) %}
  {% from 'doc-type.njk' import docType with context %}
  {% from 'doc-summary.njk' import summary with context %}
  <dt>Properties:</dt>
  {% if entry.properties | length %}
    {% for key, propRef in entry.properties %}
      <dd>
        <article class="condensed">
          {% set propDoc = propRef | get_docs_by_ref %}
          {% if propDoc.url %}
            <strong><a href="{{ propDoc.url }}">{{ key }}</a></strong>
          {% else %}
            <strong>{{ key }}</strong>
          {% endif %}

          – <code>{{ docType(propDoc) }}</code>

          {%- if propDoc.required %}
            <small style="color: red;">(Required)</small>
          {%- endif -%}

          {{ summary(propDoc) }}
        </article>
      </dd>
    {% endfor %}
  {% else %}
    <dd><p>There are no reserved properties.</p></dd>
  {% endif %}

  <dt>Additional properties:</dt>
  {% if entry.additionalProperties | length %}
    {% for additionalPropRef in entry.additionalProperties %}
      <dd>
        <article class="bordered">
          {% set additionalPropDoc = additionalPropRef | get_docs_by_ref %}
          <div>
            {% if additionalPropDoc.url %}
              <em><a href="{{ additionalPropDoc.url }}">{{ additionalPropDoc.title | default(additionalPropDoc.key, true) }}</a></em> —
            {% endif %}

            <code>{{ docType(additionalPropDoc) }}</code>
          </div>
          {{ summary(additionalPropDoc) }}
        </article>
      </dd>
    {% endfor %}
  {% else %}
    <dd><p>All other properties are invalid.</p></dd>
  {% endif %}
{% endmacro %}