{% set c = "c-pagination-controls" %}

<div class="{{c}}">
  {% if pagination.previous %}
	<a class="{{c}}__control
			  {{c}}__prev"
	   href="/documentation{{ pagination.previous }}">
	    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor">
		   <path d="M0-1h24v24H0V-1z" fill="none"/><path d="M3.6 1.9L10.7 9l-7.1 7.1L5.4 18l9-9-9-9-1.8 1.9z"/>
		</svg>Previous</a>
  {% endif %}

	<p>
		Page 
		<span data-pagebreak-label="current">{{ pagination.page }}</span>
		of
		<span data-pagebreak-label="total">{{ pagination.totalPages }}</span>
	</p>

  {% if pagination.next %}
	<a class="{{c}}__control
			  {{c}}__next"
	   href="/documentation{{ pagination.next }}" 
	   data-pagebreak-control="next">Next
	    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor">
		   <path d="M0-1h24v24H0V-1z" fill="none"/><path d="M3.6 1.9L10.7 9l-7.1 7.1L5.4 18l9-9-9-9-1.8 1.9z"/>
		</svg>
	</a>
  {% endif %}
</div>