{% macro link(block) %}
    <a class="c-prev-next-button" href="{{ block.data.url }}">
      <div class="c-prev-next-button__body">{{ block.data.nav_title }}</div>
      <div class="c-prev-next-button__header">
        <div class="c-prev-next-button__category">{{ block.data.description }}</div>
      </div>
    </a>
{% endmacro %}

<div class="c-prev-next-block">
  <div class="c-prev-next-block__item c-prev-next-block__item--previous">
    {% if prev.data.url %}
      <strong class="c-prev-next-block__heading c-prev-next-block__heading--previous">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22 10.875L6.7875 10.875L13.775 4.58625L12 3L2 12L12 21L13.7625 19.4137L6.7875 13.125L22 13.125L22 10.875Z"/>
        </svg>
        Previous
      </strong>

      {{ link(prev) }}
    {% endif %}
  </div>

  <div class="c-prev-next-block__item c-prev-next-block__item--next">
    {% if next.data.url %}
      <strong class="c-prev-next-block__heading c-prev-next-block__heading--next">
        Next
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 13.125L17.2125 13.125L10.225 19.4137L12 21L22 12L12 3L10.2375 4.58625L17.2125 10.875L2 10.875L2 13.125Z"/>
        </svg>
      </strong>
      {{ link(next) }}
    {% endif %}
  </div>
</div>
