<div class="c-prev-next-block">
  {% if prev.url %}
    <div class="c-prev-next-block__item c-prev-next-block__item--previous">
      <a class="c-prev-next-button" href="{{ prev.url }}">
        <strong class="c-prev-next-block__heading c-prev-next-block__heading--previous">
          Previous
        </strong>
        <div class="c-prev-next-button__details">
          <div class="c-prev-next-button__body">{{ prev.details.title }}</div>
          <div class="c-prev-next-button__header">
            <div class="c-prev-next-button__category">{{ prev.details.description }}</div>
          </div>
        </div>
        <div class="c-prev-next-block__item--card-arrow">
          <img src="{{ "arrow_forward:outline" | icon("material") }}" inline/>
        </div>
      </a>
    </div>
  {% else %}
    <div></div>
  {% endif %}

  {% if next.url %}
    <div class="c-prev-next-block__item c-prev-next-block__item--next">
      <a class="c-prev-next-button" href="{{ next.url }}">
        <strong class="c-prev-next-block__heading c-prev-next-block__heading--next">
          Next
        </strong>
        <div class="c-prev-next-button__details">
          <div class="c-prev-next-button__body">{{ next.details.title }}</div>
          <div class="c-prev-next-button__header">
            <div class="c-prev-next-button__category">{{ next.details.description }}</div>
          </div>
        </div>
        <div class="c-prev-next-block__item--card-arrow">
          <img src="{{ "arrow_forward:outline" | icon("material") }}" inline/>
        </div>
      </a>
    </div>
  {% else %}
    <div></div>
  {% endif %}
</div>

<div class="c-prev-next-mobile">
  {% if prev.url %}
    <a href="{{ prev.url }}">
      <img src="{{ "arrow_back:outline" | icon("material") }}" inline/>
    </a>
  {% else %}
    <img src="{{ "arrow_back:outline" | icon("material") }}" inline />
  {% endif %}
  <div class="c-prev-next-mobile__info">
    <div class="c-prev-next-mobile__pages">
      <img src="{{ guide_icon }}" /> <span>{{ guide_title }}</span> ({{ order }}/{{ totalPages }})
    </div>
    <span class="c-prev-next-mobile__title">
      {{ title }}
    </span>
  </div>
  {% if next.url %}
    <a href="{{ next.url }}">
      <img src="{{ "arrow_forward:outline" | icon("material") }}" inline/>
    </a>
  {% else %}
    <img src="{{ "arrow_forward:outline" | icon("material") }}" inline/>
  {% endif %}
</div>
