<div class="c-prev-next-block">
  <div class="c-prev-next-block__item c-prev-next-block__item--previous">
    {% if prev.data.url %}
      <a class="c-prev-next-button" href="{{ prev.data.url }}">
        <strong class="c-prev-next-block__heading c-prev-next-block__heading--previous">
          Previous
        </strong>
        <div class="c-prev-next-button__details">
          <div class="c-prev-next-button__body">{{ prev.data.nav_title }}</div>
          <div class="c-prev-next-button__header">
            <div class="c-prev-next-button__category">{{ prev.data.description }}</div>
          </div>
        </div>
      </a>
    {% endif %}
  </div>

  <div class="c-prev-next-block__item c-prev-next-block__item--next">
    {% if next.data.url %}
      <a class="c-prev-next-button" href="{{ next.data.url }}">
        <strong class="c-prev-next-block__heading c-prev-next-block__heading--next">
          Next
        </strong>
        <div class="c-prev-next-button__details">
          <div class="c-prev-next-button__body">{{ next.data.nav_title }}</div>
          <div class="c-prev-next-button__header">
            <div class="c-prev-next-button__category">{{ next.data.description }}</div>
          </div>
        </div>
      </a>
    {% endif %}
  </div>
</div>
