{% macro nav(doc, items) %}
  <nav id="t-docs-nav" class="t-docs-nav">
    <ul class="t-docs-nav__main-list">
      {% for item in items %}
        {% if not item.parent %}
        <li class="t-docs-nav__main-list__item">
          <a class="t-docs-nav__main-list__item__heading-group t-docs-nav__sub-list__article {% if page.data._uuid == index_page.attrs._uuid %}nav-open{% endif %}" :class="navOpen ? 'nav-open' : ''" href="{{ index_page.url }}">
            {{ item.title | default(item.key, true) }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <div x-intersect="more = false" x-intersect:leave="more = true"></div>
  </nav>
{% endmacro %}