{% macro nav(doc, items) %}
  {% from 'nav-item.njk' import navItem with context %}
    <ol class="t-docs-nav__sub-list">
      {% for item in items %}
        {% if item.documentation.show_in_navigation %}
          {{ navItem(item, doc) }}
        {% endif %}
      {% endfor %}
    </ol>
{% endmacro %}
