{% macro nav(doc, items) %}
  {% from 'nav-item.njk' import navItem with context %}
  <nav id="t-docs-nav" class="t-docs-nav">
    <div class="t-docs-nav__heading">
      <h2>Developer Reference</h2>
    </div>
    <ul class="t-docs-nav__main-list">
      {% for item in items %}
        {% if item.documentation.show_in_navigation %}
          {{ navItem(item, doc) }}
        {% endif %}
      {% endfor %}
    </ul>
    <div x-intersect="more = false" x-intersect:leave="more = true"></div>
  </nav>
{% endmacro %}
