{% if details.related_articles | length %}

<h2>Related Resources</h2>

<div>
  <ul class="c-related-article-container" data-editable="array" data-prop="related_articles">
    {% for related_article in details.related_articles %}
      {% set article = search.page("_uuid="+related_article.item) %}
      {% if article %}
        <li data-editable="array-item">
          <a class="c-related-article" href="{{ article.url}}">
              <h3 class="c-related-article__title">{{article.details.title}}</h3>
              {% if article.details.description %}
                <p class="c-related-article__desc">{{ article.details.description}}</p>
              {% endif %}
              <div class="c-related-article__footer">
                {% if article.details.category %}
                  <div class="c-related-article__footer--category">{{ article.details.category }}</div>
                {% endif %}
                <img src="{{ "arrow_forward:outlined" | icon("material") }}" inline>
              </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% endif %}