{% if details.related_articles | length %}

<h2>Related Resources</h2>

<div>
  <ul class="c-related-article-container">
    {% for related_article_id in details.related_articles %}
      {% set article = combined_resource_list | get_by_uuid(related_article_id) %}
      {% if article %}
        <li>
          <a class="c-related-article" href="{{ article.url}}">
              <h3 class="c-related-article__title">{{article.title}}</h3>
              {% if article.description %}
                <p class="c-related-article__desc">{{ article.description}}</p>
              {% endif %}
              <div class="c-related-article__footer">
                {% if article.category %}
                  <div class="c-related-article__footer--category">{{ article.category }}</div>
                {% endif %}
                <img src="{{ "arrow_forward:outlined" | icon("material") }}" inline>
              </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% endif %}