{% if related_articles %}

<h2>Related Articles</h2>

<div>
  <ul class="c-related-article-container">
    {% for related_article_id in related_articles %}
      {% set article = search.page("url*=" + related_article_id) %}
      {% if article %}
        <li>
          <a class="c-related-article" href="{{ article.data.url}}">
              <h3 class="c-related-article__title">{{article.data.title}}</h3>
              {% if article.data.description %}
                <p class="c-related-article__desc">{{ article.data.description}}</p>
              {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% endif %}

{% if related_links %}

<h2>Related links</h2>

<div>
  <ul>
    {% for related_link in related_links %}
        <li>
          <a href="{{ related_link.url }}" target="_blank">
            {{ related_link.name }}
          </a>
        </li>
    {% endfor %}
  </ul>
</div>

{% endif %}