<div
  class="t-searcher"
  role="dialog"
  tabindex="-1"
  x-transition
>
    <div class="t-searcher-inner" x-on:click.away="isModalOpen = false; $focusSearch(false);">
      <div id="searchbox"></div>
      <div id="searchcontainer">
        <div id="searchfilter"></div>
        <div id="resultscontainer">
          <div id="searchsummary"></div>
          <div id="searchresults"></div>
        </div>
      </div>
      <div id="searchpagination"></div>
    </div>
</div>
<div 
  class="t-overlay" 
  x-show="isModalOpen" 
  x-cloak></div>