<div class="t-searcher">
  <div class="t-searcher-inner" x-on:click.away="isModalOpen = false; $focusSearch(false);">
    <h2>Search</h2>
    <div id="searchbox"></div>
    <a class="mobile-filters cc-helper__altbutton" data-pfmod-suppressed="true">Filters <img src="{{ "expand_more:outlined" | icon("material") }}" inline/></a>
    <div id="searchcontainer">
      <div id="searchfilter"></div>
      <div id="resultscontainer">
        <div id="searchsummary"></div>
        <div id="searchresults"></div>
      </div>
    </div>
    <div id="searchpagination"></div>
      
    <div id="pagination-prev__template">
      <img src="{{ "arrow_back_ios:outlined" | icon("material") }}" inline />
    </div>
    <div id="pagination-next__template">
      <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline />
    </div>
  </div>
</div>