_schema: default
key_name: _structures.[*].values.value
key_singular_name: value
key_value_type:
  - Object
key_description: >-
  This key defines which nested inputs the Structure should add to an Object or
  Array input. You must define this key for the Structure to function.


  Nested keys can be any [inputs](/documentation/articles/what-are-inputs/) you require in your Object or Array. For more information, please read our documentation on [configuring your inputs](/documentation/articles/configure-your-inputs/).


  This key has no default.


  <comp.Example>
    In this example we want to populate the `details` Object input with the nested keys `title`, `subtitle`, and `author` we have defined under the `values.value` key.

    <comp.MultiCodeBlock language="YAML" translate_into={["json"]} source="cloudcannon.config.yml">
    ``````````
    _structures:
      article_information:
        values:
          - label: Blog
            value:
              title: 
              subtitle: 
              author:
    _inputs:
      details:
        type: object
        options:
          structures: _structures.article_information
    ``````````
    </comp.MultiCodeBlock>
  </comp.Example>
key_documentation:
  text: Structures
  url: /documentation/articles/what-is-a-structure/
parent_keys:
  - _structures.[*].values
subkeys:
