<div class="c-docs-ssg-selector" x-data="{
    open: false,
    selected_name: null,
    selected_icon: null,
}" x-init="
    $store.conditionals.register('ssg-name');
    $store.conditionals.register('ssg-icon');
    selected_name = $store.conditionals.selected('ssg-name') || selected_name;
    selected_icon = $store.conditionals.selected('ssg-icon') || selected_icon;
"  @ssgchange.window="
    selected_name = $store.conditionals.selected('ssg-name') || selected_name;
    selected_icon = $store.conditionals.selected('ssg-icon') || selected_icon;
">
    {# Selector Button #}
    <button class="c-docs-ssg-selector__selected" @click="open = true" aria-label="Select your preferred SSG">
        <template x-if="selected_icon">
            <img loading="lazy" class="c-docs-ssg-selector__icon" :src="selected_icon" aria-hidden="true">
        </template>
        <template x-if="typeof show_message !== 'undefined' && !selected_name">
            <div class="c-docs-ssg-selector__text">Select your preferred SSG</div>
        </template>
        <template x-if="typeof show_message !== 'undefined' && selected_name">
            <div class="c-docs-ssg-selector__text">Showing <strong x-text="selected_name"></strong> docs</div>
        </template>
        <template x-if="typeof show_message === 'undefined' && !selected_name">
            <div class="c-docs-ssg-selector__empty-button-icon"></div>
        </template>
        <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="m18 10-1.41-1.41-4.59 4.58-4.59-4.58-1.41 1.41 6 6z" fill="#034ad8"></path>
        </svg>
    </button>
    
    <div class="c-docs-ssg-selector__overlay" x-show="open"></div>

    <div class="c-docs-ssg-selector__dropdown" role="tablist" aria-label="Static Site Generator"
        x-show="open"
        x-cloak
        @click.away="open = false">

        {# Float the button for the selected SSG #}
        <template x-if="selected_name">
            <button class="c-docs-ssg-selector__item" role="tab" aria-selected="true" :aria-controls="`docs-ssg-selector-${selected_name}`" @click="open = false">
                <template x-if="selected_icon">
                    <img loading="lazy" class="c-docs-ssg-selector__icon" :src="selected_icon" aria-hidden="true">
                </template>
                <div class="c-docs-ssg-selector__text" x-text="selected_name"></div>
            </button>
        </template>

        {# All other SSG options #}
        {% for ssg in ssgs.ssgs %}
            <button class="c-docs-ssg-selector__item" role="tab" aria-selected="false" aria-controls="docs-ssg-selector-{{ ssg.id }}" @click="() => {
                selected_name = '{{ ssg.name }}';
                selected_icon = '{{ ssg.icon_path }}';
                $store.conditionals.select('ssg-name', selected_name);
                $store.conditionals.select('ssg-icon', selected_icon);
                open = false;
                $dispatch('ssgchange');
            }"
            x-init="$store.conditionals.registerValue('ssg', {'name': '{{ ssg.name }}', 'icon': '{{ ssg.icon_path }}'})"
            x-show="selected_name !== '{{ ssg.name }}'" aria-label="{{ ssg.name }}">
                {% if ssg.icon_path %}<img loading="lazy" class="c-docs-ssg-selector__icon" src="{{ ssg.icon_path }}" aria-hidden="true">{% endif %}
                <div class="c-docs-ssg-selector__text">{{ ssg.name }}</div>
            </button> 
        {% endfor %}
    </div>
</div>
