<div class="c-card-grid">
  <template x-for="card in block.cards">
    <div class="c-card-grid__card" :class="card.span_two ? 'span-two' : ''">
      <h2 x-text="card.heading"></h2>
      <template x-for="item in card.items">
        <div class="c-card-grid__card--item">
          <h3 x-text="item.heading"></h3>
          <p x-html="item.description"></p>
        </div>
      </template>
    </div>
  </template>
</div>
