<div class="c-card-grid">
  <template x-for="card in block.cards">
    <div class="c-card-grid__card" x-bind:class="card.span_two ? 'span-two' : ''">
      <h2 x-text="card.heading"></h2>
      <template x-if="card.description && card.description != ''">
        <p x-html="card.description"></p>
      </template>
      <div>
        <template x-for="item in card.items">
          <a class="c-card-grid__card--item" :href="item.url">
            <template x-if="item.icon == 'handshake'">
              <img src="{{ "handshake:outlined" | icon("material") }}" inline>
            </template>
            <template x-if="item.icon == 'web'">
              <img src="{{ "web:outlined" | icon("material") }}" inline>
            </template>
            <template x-if="item.icon == 'design_services'">
              <img src="{{ "design_services:outlined" | icon("material") }}" inline>
            </template>
            <h3 x-text="item.heading"></h3>

            <div><!-- spacer for grid layout --></div>
            <p x-html="item.description"></p>

            <div><!-- spacer for grid layout --></div>
            <div class="c-card-grid__card--item__arrow">
              <img src="{{ "arrow_forward:outlined" | icon("material") }}" inline>
            </div>
          </a>
        </template>
      </div>
      <template x-if="card.image && card.image != ''">
        <img loading="lazy" :src="card.image" height="140" />
      </template>
    </div>
  </template>
</div>