<div class="c-card-grid">
  <template x-for="card in block.cards">
    <a class="c-card-grid__card" x-bind:class="card.span_two ? 'span-two' : ''" :href="card.url && card.url != '' ? card.url : null">
      <h2 x-text="card.heading"></h2>
      <template x-if="card.description && card.description != ''">
        <p x-html="card.description"></p>
      </template>
      <div x-show="card.items && card.items.length > 0">
        <template x-for="item in card.items">
          <a class="c-card-grid__card--item" :href="item.url && item.url != '' ? item.url : null">
            <template x-if="item.icon == 'handshake'">
              <img src="{{ "handshake:outlined" | icon("material") }}" inline>
            </template>
            <template x-if="item.icon == 'web'">
              <img src="{{ "web:outlined" | icon("material") }}" inline>
            </template>
            <template x-if="item.icon == 'design_services'">
              <img src="{{ "design_services:outlined" | icon("material") }}" inline>
            </template>
            <h3 x-text="item.heading"></h3>

            <div><!-- spacer for grid layout --></div>
            <p x-html="item.description"></p>

            <div x-show="item.url" style="grid-column:span 2">
              <div class="c-card-grid__card-arrow">
                <img src="{{ "arrow_forward:outlined" | icon("material") }}" inline>
              </div>
            </div>
          </a>
        </template>
      </div>
      <div x-show="card.url">
        <div class="c-card-grid__card-arrow">
          <img src="{{ "arrow_forward:outlined" | icon("material") }}" inline>
        </div>
      </div>
      <template x-if="card.image && card.image != ''">
        <div>
          <div class="img-spacer"></div>
          <img loading="lazy" :src="card.image" />
        </div>
      </template>
    </a>
  </template>
</div>