<div >
  <div class="c-centred-block__inner">
    <h2 x-text="block.heading"></h2>
    <p x-html="block.description"></p>
    <div>
      <template x-for="(value, index) in block.buttons">
          <div x-text="index"></span>: <span x-text="value"></div>
      </template>
    </div>
  </div>
</div>
