<div class="c-centred-block">
  <h2 data-cms-bind="#content_blocks[{{ component_count }}].heading" data-custom-live-editing="innerText:content_blocks[{{ component_count }}].heading">{{ heading }}</h2>
  <p data-cms-bind="#content_blocks[{{ component_count }}].description" data-custom-live-editing="innerText:content_blocks[{{ component_count }}].description">
    {{ description }}
  </p>
</div>