<div 
  data-cms-bind="#content_blocks[{{ component_count }}].background_image" data-custom-live-editing="backgroundImage:content_blocks[{{ component_count }}].background_image"
  class="c-centred-block" style="background-image: url({{ background_image }})">
  <div class="c-centred-block__inner">
    <h2 data-cms-bind="#content_blocks[{{ component_count }}].heading" data-custom-live-editing="innerText:content_blocks[{{ component_count }}].heading">{{ heading }}</h2>
    <p data-cms-bind="#content_blocks[{{ component_count }}].description" data-custom-live-editing="innerHTML:content_blocks[{{ component_count }}].description">
      {{ description | safe }}
    </p>
    <div 
      data-cms-bind="#content_blocks[{{ component_count }}].buttons" data-custom-live-editing="array:content_blocks[{{ component_count }}].buttons"
      class="c-centred-block__inner--buttons">
        {% for button in buttons %}
          <button>{{ button.button_text }}</button>
        {% endfor %}
    </div>
  </div>
</div>