<div>
  <h2 x-text="block.heading"></h2>
  <p x-html="block.description"></p>
  <div>
    <template x-for="button in block.buttons">
      {% comp "contentblocks.simplebutton" %}{% endcomp %}
    </template>
  </div>
</div>