---
layout: layouts/base.njk
---

<div class="l-page">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
            {% import "docnav.njk" as docnav with context %}
            {% set url = page.data.url | replace("/documentation/", "") %}
            {% set url = url.split("/") %}

            {{ docnav.nav(navigation[url[0]], "Docs") }}
        </aside>
        <div class="u-card-box l-content">
            <h1 data-pagefind-body class="l-heading u-margin-bottom-0">{{ title }}</h1>
            <p class="l-subheading">Last modified: {{ date | date('HUMAN_DATE') }}</h1>
            <div data-pagefind-body data-pagefind-filter="site:Documentation" data-pagefind-meta="site:Documentation" class="l-content-split">
                <main>
                    {{ content | safe }}
                </main>
                <aside data-pagefind-ignore class="l-right">
                    <div class="l-toc">
                        <!-- "On this page" -->
                    </div>
                </aside>
            </div>

            {% include "related-articles.njk" %}

            
        </div>
    </div>
</div>