---
layout: layouts/base.njk
---

<div class="l-page">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
            {% import "docnav.njk" as docnav with context %}
            {% set url = page.data.url | replace("/documentation/", "") %}
            {% set url = url.split("/") %}

            {{ docnav.nav(navigation[url[0]]) }}
        </aside>
        <div class="u-card-box l-content" x-data="$visibleNavHighlighter">
            <div class="l-breadcrumb">{{ url[0] | replace("-", " ") | title }} <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/> <span>{{ details.title }}</span></div>
            <h1 data-pagefind-body class="l-heading u-margin-bottom-0">{{ details.title }}</h1>
            <p class="l-subheading">Last modified: {{ date | date('HUMAN_DATE') }}</h1>
            <div class="l-toc-mobile" x-data="{toc_open:false}" @click="toc_open = !toc_open">
                <h3 :class="toc_open ? 'open' : ''">Table of contents <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/></h3>
                <div class="l-toc__list" :class="toc_open ? 'open' : ''"></div>
                <!-- "On this page" -->
            </div>
            <div data-pagefind-body data-pagefind-filter="site:Documentation" data-pagefind-meta="site:Documentation" class="l-content-split">
                <main>
                    {{ content | safe }}
                </main>
                <aside data-pagefind-ignore class="l-right">
                    <div class="l-toc" x-on:scroll.window.throttle.50ms="onScroll()">
                        <!-- "On this page" -->
                    </div>
                </aside>
            </div>

            {% include "related-articles.njk" %}
        </div>
    </div>
</div>