<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cloudcannon.com/css/2025-TT-Norms-Pro_400_500_800-swap.css" rel="stylesheet" type="text/css" async>
    <link href="{{ '/assets/css/site.css' | url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/_pagefind/pagefind-modular-ui.css' | url }}" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/documentation/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/documentation/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/documentation/static/favicon-16x16.png">
    <link rel="manifest" href="/documentation/static/site.webmanifest">
    <meta name="msapplication-TileColor" content="#034ad8">
    <meta name="theme-color" content="#ffffff">

    <title>{{ title }} | CloudCannon Documentation</title>

	<!-- SEO tags -->
	<meta content="CloudCannon Documentation" property="og:site_name">
    
    <!-- Page description for SEO -->
   <meta content="{{ description }}" name="description">
   <meta content="{{ description }}" property="og:description">
   <meta content="{{ description }}" property="twitter:description">

    <!--  Meta tags for open graph and twitter -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@CloudCannon" name="twitter:site">
    <meta content="{{ title }}" name="og:title">
    <meta content="{{ title }}" name="twitter:title">
    <meta content="website" property="og:type">
    {% if image %}
        <meta content="{{ image }}" name="og:image">
        <meta content="{{ image }}" name="twitter:image">
    {% else %}
        <meta content="/documentation/static/CloudCannonDocumentationog.jpg" name="og:image">
        <meta content="/documentation/static/CloudCannonDocumentationog.jpg" name="twitter:image">
    {% endif %}
    <meta content="{{ description }}" name="twitter:image:alt">
    <meta content="@CloudCannon" name="twitter:creator">

    <meta content="https://cloudcannon.com{{ url }}" property="og:url">
    <!-- Canonical URL for SEO -->
    {% if explicit_canonical | length > 0 %}
        {% if explicit_canonical.slice(0, 4) == "http" %}
    <link href="{{ url }}" rel="canonical">
        {% else %}
    <link href="https://cloudcannon.com{{ explicit_canonical }}" rel="canonical">
        {% endif %}
    {% else %}
    <link href="https://cloudcannon.com{{ url }}" rel="canonical">
    {% endif %}
	 
    {% include "analytics.njk" %}

    <script>
        (() => {
            try {
                if (window.self === window.top) {
                    return;
                }
            } catch (e) {
                console.warn(e);
                // This means that we can't access window.top
            }

            document.documentElement.classList.add("iframed");
            const base = document.createElement("base");
            base.target = "_blank";
            document.getElementsByTagName('head')[0].appendChild(base);
        })();
    </script>
</head>

<body x-data="{'isModalOpen': false, 'isMainNavOpen': false, 'isPageNavOpen': false}" 
      @keydown.escape="isModalOpen=false; $focusSearch(isModalOpen);"
      @keydown.window.prevent.ctrl.k="isModalOpen=!isModalOpen; $focusSearch(isModalOpen);"
      @keydown.window.prevent.cmd.k="isModalOpen=!isModalOpen; $focusSearch(isModalOpen);">
    
    {% if headingnav.banner_html %}
      <div class="l-banner">
        <p class="l-banner__inner">{{ headingnav.banner_html | safe }}</p>
      </div>
    {% endif %}
    
    <div class="l-nav">
        {% include "nav.njk" %}
    </div>
    {% include "search.njk" %}

    {{ content | safe }}

    {% include "hubspot.njk" %}

    <div class="iframe-controls">
        <a href="{{ url }}" target="_blank">
            Open in a new tab
            <img src="/assets/img/open_in_new.svg" inline>
        </a>
    </div>

    <script src="{{ '/assets/js/site.js' | url }}" type="text/javascript"></script>

    <script src="https://status.cloudcannon.com/embed/script.js"></script>
</body>

</html>