---
layout: layouts/base.njk
title: 'Changelog'
description: List of all changes made to the CloudCannon app
---
<div class="l-page" x-init="showmobilenav = true">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
            {% import "changenav.njk" as changenav with context %}
            {{ changenav.nav("Changelog") }}

            <template x-teleport="#mobile-docnav">
                {{ changenav.nav("Changelog") }}
            </template>
        </aside>
        <div class="u-card-box l-small-content">
            <div class="l-breadcrumb"></div>
            <h1 class="l-heading u-margin-bottom-0 u-padding-bottom-0">
                Changelog
            </h1>
            <p class="l-subheading">
                <a href="/documentation/changelog/feed.xml">Subscribe with RSS</a> to keep up with the latest changes.
            </p>
            
            <div class="l-toc-mobile" x-data="{toc_open:false}" @click="toc_open = !toc_open">
                <h3 :class="toc_open ? 'open' : ''">Table of contents <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/></h3>
                <div class="l-toc__list" :class="toc_open ? 'open' : ''"></div>
                <!-- "On this page" -->
            </div>
            <div class="l-content-split" x-data="$visibleNavHighlighter">
                <main class="changelog-main">
                {% for changelog in data.results %}
                    <div class="changelog-entry">
                        <h2 {% if loop.first %}class="u-margin-top-0 changelog-entry__top-heading"{% endif %}><a href="{{ changelog.url }}">{{ changelog.page.data.title }}</a></h2>
                        <p class="changelog-entry__date">{{ changelog.page.data.date | DATE_TO_NOW }}</p>
                        {{ changelog.page | render_page_content | safe }}

                        {% if not loop.last %}<div class="c-br"></div>{% endif %}
                    </div>
                {% endfor %}

                <div class="changelog-footer">
                    <p>Want more? We've been busy.</p>
                    <a href="/documentation/changelog/{{ data.newestYear }}/">Browse all of {{ data.newestYear }} <img src="{{ "arrow_forward:outlined" | icon("material") }}" inline></a>
                </div>
                </main>
            
                <aside data-pagefind-ignore class="l-right">
                    <div class="l-toc-changelog-list" x-on:scroll.window.throttle.50ms="onScroll()">
                        <!-- "On this page" -->
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

