---
layout: layouts/base.njk
title: 'Changelog'
description: List of all changes made to the CloudCannon app
---
<div class="l-page">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
            {% import "changenav.njk" as changenav with context %}
            {{ changenav.nav("Changelog") }}
        </aside>
        <div class="u-card-box l-small-content">
            <h1 class="l-heading u-margin-bottom-0 u-padding-bottom-0">
                Changelog
            </h1>

            <div class="l-content-split" x-data="$visibleNavHighlighter">
                <main class="changelog-main">
                {% for changelog in data.results %}
                    <div class="changelog-entry">
                        <h2 {% if loop.first %}class="u-margin-top-0 changelog-entry__top-heading"{% endif %}><a href="{{ changelog.url }}">{{ changelog.page.data.title }}</a></h2>
                        <p class="changelog-entry__date">{{ changelog.page.data.date | DATE_TO_NOW }}</p>
                        {{ changelog.page | render_page_content | safe }}

                        {% if not loop.last %}<div class="c-br"></div>{% endif %}
                    </div>
                {% endfor %}
                </main>
            
                <aside data-pagefind-ignore class="l-right">
                    <div class="l-toc-changelog-list" x-on:scroll.window.throttle.50ms="onScroll()">
                        <!-- "On this page" -->
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

