---
layout: layouts/base.njk
title: 'Changelog'
description: List of all changes made to the CloudCannon app
---
<div class="l-page">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
            {% import "changenav.njk" as changenav with context %}
            {{ changenav.nav("Changelog") }}
        </aside>
        <div class="u-card-box l-small-content">
            <h1 class="l-heading u-margin-bottom-0">
                Changelog {{ data.year }}
            </h1>

            <div class="l-content-cards">
                {% for changelog in data.results %}
                    <a href="{{ changelog.url }}" class="changelog-entry">
                        <h2 {% if loop.first %}class="u-margin-top-0"{% endif %}>{{ changelog.page.data.title }}</h2>
                        <p class="changelog-date">{{ changelog.page.data.date | DATE_TO_NOW }}</p>
                        <p>{{ changelog.content | render_text_only | truncate(100) }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

