---
layout: layouts/base.njk
---

<div class="l-page">
    <div class="l-column">
        <div class="u-card-box l-small-content">
            <h1 data-pagefind-body class="l-heading">{{ title }}</h1>
            <p>{{ date | date('HUMAN_DATE') }} | {{ type | capitalize }}</p>
            <main data-pagefind-body data-pagefind-filter="site:Changelog" data-pagefind-meta="site:Changelog">
                {{ content | safe }}
            </main>
        </div>
    </div>
</div>