---
layout: layouts/base.njk
title: ''
description: ''
---
<div class="l-page" x-init="showmobilenav = true">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
            {% import "glossarynav.njk" as glossarynav with context %}
            {{ glossarynav.nav("User Glossary") }}

            <template x-teleport="#mobile-docnav">
                {{ glossarynav.nav("User Glossary") }}
            </template>
        </aside>
        {% set letters = all_letters() %}
        <div class="u-card-box l-small-content">
            <div class="l-breadcrumb"></div>
            <h1 class="l-heading u-margin-bottom-0 u-padding-bottom-0">
                  User Glossary
            </h1>

            <div class="l-content-split" x-data="$visibleNavHighlighter">
              <main class="l-content-cards glossary-cards">
                {% for letter in letters %}
                  <h2 class="l-heading u-margin-bottom-0 u-padding-bottom-0 exclude-from-toc">{{ letter | upper }}</h2>
                  {% set entries = "" | get_by_letter(letter) %}
                  {% if entries and entries.length > 0 %}
                    {% for entry in entries %}
                      <div class="glossary-entry">
                        <h2>{{ entry.glossary_term_name }}</h2>
                        <p>{{ entry.term_description | md | safe }}</p>
                      </div>
                      
                    {% endfor %}
                  {% else %}
                    <div class="glossary-entry">
                      <p>No glossary entries found for the letter "{{ letter | upper }}".</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </main>
              
              <aside data-pagefind-ignore class="l-right">
                  <div class="l-toc" x-on:scroll.window.throttle.50ms="onScroll()">
                      <!-- "On this page" -->
                  </div>
              </aside>
          </div>
        </div>
    </div>
</div>

