---
layout: layouts/base.njk
title: 'Guides'
description: Step by step guides to help using CloudCannon 
---

<div class="l-page">
    <div class="l-column">
        <div class="l-small-content">
            <h1 class="l-heading">Guides</h1>

            <h2>Get started with CloudCannon</h2>
            {{ comp.GuideGrid(series="starters", card_type="slim", card_eyebrow="Starter Guide", title_replace=" Starter Guide") | safe }}

            <h2>Workflow guides</h2>
            {{ comp.GuideGrid(series="workflow", card_type="interactive", card_eyebrow="", title_replace="") | safe }}

            <h2>Bookshop guides</h2>
            {{ comp.GuideGrid(series="bookshop", card_type="interactive", card_eyebrow="", title_replace="") | safe }}            
        </div>
    </div>
</div>

