---
layout: layouts/base.njk
---

<div class="l-page guide-page">
    <div class="l-column">
        <div class="l-small-content">
            <h1 class="l-heading" data-editable="text" data-prop="title">{{ title }}</h1>

            <editable-array data-prop="guide_sections">
                {% for section in guide_sections %}
                    <editable-array-item>
                        <h2 data-editable="text" data-prop="section_title">{{ section.section_title }}</h2>
                        <div class="guide-page__cards {{ section.grid_size }}">
                            <editable-array data-prop="items" data-direction="row">
                                {% for item in section.items %}
                                    <editable-array-item>
                                        {% set guide = search.page("_uuid="+item.item) %}
                                        <a class="guide-page__cards--card" href="{{ guide.url }}">
                                            <div class="guide-page__cards--card__heading">
                                                <img src="{{ guide.guide_icon }}" width="24" />
                                                <h3>{{ guide.guide_title }}</h3>
                                            </div>
                                            <p>{{ guide.guide_summary }}</p>
                                            <div class="guide-page__cards--card__card-arrow">
                                                <img src="{{ "arrow_forward:outlined" | icon("material") }}" inline />
                                            </div>
                                            {% if section.grid_size == "lg" and guide.guide_image %}
                                                <div class="img-spacer"></div>
                                                <img class="guide-page__cards--card__image" src="{{ guide.guide_image }}" />
                                            {% endif %}
                                        </a>
                                    </editable-array-item>
                                {% endfor %}
                            </editable-array> 
                        </div>
                    </editable-array-item>
                {% endfor %}
            </editable-array>
        </div>
    </div>
</div>