---
layout: layouts/base.njk
title: 'Guides'
description: Step by step guides to help using CloudCannon 
---

<div class="l-page">
    <div class="l-column">
        <div class="l-small-content">
            <h1 class="l-heading">Guides</h1>
            {% if pagination.page > 1 %}<p class="l-subheading">Page: {{ pagination.page }}</p>{% endif %}

            <div class="c-interactive-cards">
                {% for guide_id in results %}
                    {% set guide = search.page("guide_id=" + guide_id, "order") %}
                    {% set href = guide.data.url %}
                    {% set title = guide.data.guide_title %}
                    {% set subtext = guide.data.description %}
                    {% set galleryImage = guide.data.guide_image %}
                    {% set galleryAlt = '' %}
                    {% set variant = guide.data.color_variant %}
                    {% include "card.njk" %}
                {% endfor %}
            </div>

            {% include "pagination-controls.njk" %}
        </div>
    </div>
</div>

