---
layout: layouts/base.njk
---
<div x-data="{ contentBlocks: [] }" x-init="
  new CloudCannonLive(data => {
    contentBlocks = data?.content_blocks || []
  })
">

  <!-- Optional: static rendering for non-CloudCannon environments -->
  <div class="static-content" x-show="contentBlocks.length == 0">
    {% for block in content_blocks %}
      <div x-data='{ block: {{ block | dump | safe }} }'>
        {% comp "contentblocks.centredblock" %}{% endcomp %}
      </div>
    {% endfor %}
  </div>

  <!-- CloudCannon live preview region (hidden if not in live editing) -->
  <div id="live-preview" x-show="contentBlocks.length > 0">
    <template x-for="(block, i) in contentBlocks" :key="i">
      <div class="block">
        <template x-if="block._component_type === 'centred'">
          {% comp "contentblocks.centredblock" %}{% endcomp %}
        </template>

        <template x-if="block._component_type === 'card'">
          <div>CARD</div>
        </template>
      </div>
    </template>
  </div>

</div>
