---
layout: layouts/base.njk
title: 'Guides and reference documentation to use all of the CloudCannon features'
---

<div class="l-page">
    <div class="l-column">
        <div class="l-small-content" style="padding-bottom: 40px;">
            <div class="l-content-split">
                <main>
                    <h1 class='l-heading'>Welcome to CloudCannon</h1>

                    <h2>Search</h2>
                    <div id="onpagesearch">Search</div>
                    <div id="onpagesummary"></div>
                    <div id="onpageresults"></div>

                    <h2>Explore</h2>
                    <div class="c-interactive-cards">
                        {% set href = '/documentation/guides/universal-starter-guide/' %}
                        {% set title = 'Getting Started' %}
                        {% set subtext = 'Learn how to get your website set up on the CloudCannon CMS.' %}
                        {% set galleryImage = '/documentation/static/hand.png' %}
                        {% set galleryAlt = '' %}
                        {% set variant = '' %}
                        {% include "card.njk" %}

                        {% set href = '/documentation/guides/' %}
                        {% set title = 'Guides' %}
                        {% set subtext = 'Search our step-by-step guides for your SSG and get your site set up on CloudCannon.' %}
                        {% set galleryImage = '/documentation/static/cap.png' %}
                        {% set galleryAlt = '' %}
                        {% set variant = '' %}
                        {% include "card.njk" %}

                        {% set href = '/documentation/articles/' %}
                        {% set title = 'Docs' %}
                        {% set subtext = 'Learn more about CloudCannon features and configuration options.' %}
                        {% set galleryImage = '/documentation/static/books.png' %}
                        {% set galleryAlt = '' %}
                        {% set variant = '' %}
                        {% include "card.njk" %}
                    </div>

                    <h2>Product updates</h2>
                    <div class="u-card-box">
                        {% set changelogs = search.pages("url^=/documentation/changelog/", "date=desc", 2) %}
                        {% for changelog in changelogs %}
                            <h3 style="margin: 0 0 10px 0;"><a href="{{ changelog.data.url }}">{{ changelog.data.title }}</a></h2>
                            <p style="margin-top: 0">{{ changelog.data.date | date('HUMAN_DATE') }} | {{ changelog.data.type | capitalize }}</p>
                            {{ changelog.data.content | md | changelog_summary| safe }}

                            {% if not loop.last %}<div class="c-br" style="margin-bottom: 20px;"></div>{% endif %}
                        {% endfor %}
                        <p style="text-align: right; margin-bottom: 0;"><a href="/documentation/changelog/" class="cc-helper__altbutton">
                            View more updates &rarr;
                        </a></p>
                    </div>

                    <h2>Support</h2>
                    <div style="display: flex; gap: 20px;flex-wrap: wrap;">
                        <div class="u-card-box" style="flex: 1 1 300px;">
                            <img alt="Three CloudCannon team members faces in circles." style="max-width: 350px;height: auto;width: 100%;padding-right: 20px;" src="https://cc-dam.imgix.net/contact-page-image.png?auto=compress&amp;auto=format&amp;w=316&amp;dpr=1&amp;crop=faces&amp;fit=crop&amp;height=0" width="1216" height="330">
                            <h3>Get in touch</h3>
                                
                            <p>Need a hand? Our team of friendly developers is here to help. Reach out through our in-app chat or send us a message using the form on our website.</p>

                            <a href="https://cloudcannon.com/contact/" class="cc-helper__button" id="feedback_request">
                                Chat with us
                            </a>
                        </div>

                        <div class="u-card-box" style="flex: 1 1 300px;">
                            <img alt="Overview of Jamstack ecosystem" style="max-width: 150px;height: auto;width: 100%;padding-right: 20px;" src="/documentation/static/status.svg" width="1216" height="801">
                            <h3>CloudCannon Status</h3>
                                
                            <p>Something going wrong? Check to see if there is an ongoing incident. Subscribe to get messages when these incidents occur.</p>

                            <a href="https://status.cloudcannon.com" class="cc-helper__altbutton">
                                View the status page
                            </a>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>