---
layout: layouts/base.njk
---
<div class="l-page" x-init="showmobilenav = true">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
            
        </aside>
        <div class="u-card-box l-content" x-data="$visibleNavHighlighter">
            <div class="l-breadcrumb">{{ url[0] | replace("-", " ") | title }} <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/> <span>{{ entry.title | default(entry.key, true) }}</span></div>
            <h1 data-pagefind-body class="l-heading u-margin-bottom-0">{{ entry.title | default(entry.key, true) }}</h1>

            <dl>
            {% set parent = entry.parent | get_docs_by_gid %}
            {% if entry.appears_in | length or parent %}
              <dt>Appears in:</dt>
              {% if parent %}
                <dd><a href="/documentation/developer-reference{{ parent.url }}"><code>{{ parent.url }}</code></a></dd>
              {% endif %}

              {% if entry.appears_in | length %}
                {% for appearsInGid in entry.appears_in %}
                  {% set appearsInDoc = appearsInGid | get_docs_by_gid %}
                  <dd><a href="/documentation/developer-reference{{ appearsInDoc.url }}"><code>{{ appearsInDoc.url }}</code></a></dd>
                {% endfor %}
              {% endif %}
            {% endif %}

            {% if entry.key %}
              <dt>Key:</dt>
              <dd><code>{{ entry.key }}</code></dd>
            {% endif %}

            {% if entry.full_key %}
              <dt>Full key:</dt>
              <dd><code>{{ entry.full_key }}</code></dd>
            {% endif %}

            <dt>GID:</dt>
            <dd><code>{{ entry.gid }}</code></dd>

            
              {% from 'doc-type.njk' import docType with context %}
              {{ docType(entry) }}
          

            <dt {% if not entry.description %} class="show-in-cms"{% endif %}>Description:</dt>
            <dd
            >{% if entry.description %}{{ entry.description | safe }}{% endif %}</dd>

            {% if entry.default %}
              <dt>Default value:</dt>
              <dd><code>{{ entry.default }}</code></dd>
            {% endif %}

            {% if entry.enum | length %}
              <dt>Allowed values:</dt>
              {% for value in entry.enum %}
                <dd><code>{{ value }}</code></dd>
              {% endfor %}
            {% endif %}

            <dt {% if not entry.documentation.examples | length %} class="show-in-cms"{% endif %}>Examples:</dt>
            {% for example in entry.documentation.examples %}
              <dd>
                <pre><code>{{ example }}</code></pre>
              </dd>
            {% endfor %}
          </dl>
            
            <div class="l-toc-mobile" x-data="{toc_open:false}" @click="toc_open = !toc_open">
                <h3 :class="toc_open ? 'open' : ''">Table of contents <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/></h3>
                <div class="l-toc__list" :class="toc_open ? 'open' : ''"></div>
                <!-- "On this page" -->
            </div>
            <div data-pagefind-body data-pagefind-filter="site:Documentation" data-pagefind-meta="site:Documentation" class="l-content-split">
                <main>
                    <editable-text data-prop="@content">
                        {{ content | safe }}
                    </editable-text>
                </main>
                <aside data-pagefind-ignore class="l-right">
                    <div class="l-toc" x-on:scroll.window.throttle.50ms="onScroll()">
                        <!-- "On this page" -->
                    </div>
                </aside>
            </div>

            {% include "related-articles.njk" %}
        </div>
    </div>
</div>