---
layout: layouts/base.njk
---
<div class="l-page" x-init="showmobilenav = true">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
        {% from 'nav-item.njk' import navItem with context %}
            {% import "referencenav.njk" as referencenav with context %}
            
            {{ referencenav.nav(entry, full_docs) }}
        </aside>
        {% set url = page.data.url | replace("/documentation/", "") %}
        {% set url = url.split("/") %}
        <div class="u-card-box l-content" x-data="$visibleNavHighlighter">
            <div class="l-breadcrumb">{{ url[0] | replace("-", " ") | title }} <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/> <span>{{ entry.title | default(entry.key, true) }}</span></div>
            <h1 data-pagefind-body class="l-heading u-margin-bottom-0">{{ entry.title | default(entry.key, true) }}</h1>

            <div class="l-toc-mobile" x-data="{toc_open:false}" @click="toc_open = !toc_open">
                <h3 :class="toc_open ? 'open' : ''">Table of contents <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/></h3>
                <div class="l-toc__list" :class="toc_open ? 'open' : ''"></div>
                <!-- "On this page" -->
            </div>
            <div data-pagefind-body data-pagefind-filter="site:Documentation" data-pagefind-meta="site:Documentation" class="l-content-split">
                <main>
                    <dl>
                  {% set parent = entry.parent | get_docs_by_gid %}
                  {% if entry.appears_in | length or parent %}
                    <dt>Appears in:</dt>
                    {% if parent %}
                      <dd><a href="/documentation/developer-reference{{ parent.url }}"><code>{{ parent.url }}</code></a></dd>
                    {% endif %}

                    {% if entry.appears_in | length %}
                      {% for appearsInGid in entry.appears_in %}
                        {% set appearsInDoc = appearsInGid | get_docs_by_gid %}
                        <dd><a href="/documentation/developer-reference{{ appearsInDoc.url }}"><code>{{ appearsInDoc.url }}</code></a></dd>
                      {% endfor %}
                    {% endif %}
                  {% endif %}

                  {% if entry.key %}
                    <dt>Key:</dt>
                    <dd><code>{{ entry.key }}</code></dd>
                  {% endif %}

                  {% if entry.full_key %}
                    <dt>Full key:</dt>
                    <dd><code>{{ entry.full_key }}</code></dd>
                  {% endif %}

                  {% from 'doc-type.njk' import docType with context %}
                  {% from 'doc-type-nested.njk' import docTypeNested with context %}
                  {% if not entry.anyOf | length %}
                    <dt>Type:</dt>
                    <dd>
                      <code>
                        {{ docType(entry) }}
                      </code>
                      {%- if entry.required %}
                        <small style="color: red;">(Required)</small>
                      {%- endif -%}
                    </dd>
                  {% endif %}

                  <dt {% if not entry.description %} class="show-in-cms"{% endif %}>Description:</dt>
                  <dd
                  >{% if entry.description %}{{ entry.description | md | safe }}{% endif %}</dd>

                  {% if entry.default %}
                    <dt>Default value:</dt>
                    <dd><code>{{ entry.default }}</code></dd>
                  {% endif %}

                  {% if entry.enum | length %}
                    <dt>Allowed values:</dt>
                    {% for value in entry.enum %}
                      <dd><code>{{ value }}</code></dd>
                    {% endfor %}
                  {% endif %}

                  <dt {% if not entry.documentation.examples | length %} class="show-in-cms"{% endif %}>Examples:</dt>
                  {% for example in entry.documentation.examples %}
                    <dd>
                      <pre><code>{{ example.code }}</code></pre>
                    </dd>
                  {% endfor %}
                </dl>
                  {% from 'array.njk' import array with context %}
                  {% from 'object.njk' import objectMacro with context %}
                  {% from 'any-of.njk' import anyOf with context %}
                  {% from 'doc-summary.njk' import summary with context %}
                  {% if entry.type == "array" %}
                    {{ array(entry) }}
                  {% elif entry.type == "object" %}
                    {{ objectMacro(entry) }}
                  {% elif entry.anyOf | length %}
                    {{ anyOf(entry) }}
                  {% endif %}
                </main>
                <aside data-pagefind-ignore class="l-right">
                    <div class="l-toc" x-on:scroll.window.throttle.50ms="onScroll()">
                        <!-- "On this page" -->
                    </div>
                </aside>
            </div>

            {% include "related-articles.njk" %}
        </div>
    </div>
</div>