---
layout: layouts/base.njk
---
<div class="l-page" x-init="showmobilenav = true">
    <div class="l-column">
        <aside class="l-left" x-data="{
            more: true
        }">
            {% import "docnav-developer-reference.njk" as docnav with context %}
            {% set url = page.data.url | replace("/documentation/", "") %}
            {% set url = url.split("/") %}

            {{ docnav.nav(navigation[url[0]]) }}

            <template x-teleport="#mobile-docnav">
                {{ docnav.nav(navigation[url[0]]) }}
            </template>
        </aside>
        {% set url = page.data.url | replace("/documentation/", "") %}
        {% set url = url.split("/") %}
        <div class="u-card-box l-content" x-data="$visibleNavHighlighter">
            <div class="l-breadcrumb">{{ url[0] | replace("-", " ") | title }} <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/> <span>{{ title | default(key, true) }}</span></div>
            <h1 data-pagefind-body class="l-heading u-margin-bottom-0">{{ title | default(key, true) }}</h1>

            <div class="l-toc-mobile" x-data="{toc_open:false}" @click="toc_open = !toc_open">
                <h3 :class="toc_open ? 'open' : ''">Table of contents <img src="{{ "arrow_forward_ios:outlined" | icon("material") }}" inline/></h3>
                <div class="l-toc__list" :class="toc_open ? 'open' : ''"></div>
                <!-- "On this page" -->
            </div>
            <div data-pagefind-body data-pagefind-filter="site:Documentation" data-pagefind-meta="site:Documentation" class="l-content-split">
                <main>
                    <dl>
                      {% if key %}
                        <dt>Key:</dt>
                        <dd><code>{{ key }}</code></dd>
                      {% endif %}

                      {% if full_key %}
                        <dt>Full key:</dt>
                        <dd><code>{{ full_key }}</code></dd>
                      {% endif %}

                      <dt {% if not description %} class="show-in-cms"{% endif %}>Description:</dt>
                      <dd
                      >{% if description %}{{ description | md | safe }}{% endif %}</dd>

                      
                    </dl>
                  {% from 'array.njk' import array with context %}
                  {% from 'object.njk' import objectMacro with context %}
                  {% from 'any-of.njk' import anyOf with context %}
                  {% from 'doc-summary.njk' import summary with context %}
                  {% if entry.type == "array" %}
                    {{ array(entry) }}
                  {% elif entry.type == "object" %}
                    {{ objectMacro(entry) }}
                  {% elif entry.anyOf | length %}
                    {{ anyOf(entry) }}
                  {% endif %}

                  <dt {% if not examples | length %} class="show-in-cms"{% endif %}>Examples:</dt>
                  {% for example in examples %}
                    <div>{{ example.description | md | safe }}</div>
                    <pre><code>{{ example.code }}</code></pre>
                  {% endfor %}
                </main>
                <aside data-pagefind-ignore class="l-right">
                    <div class="l-toc" x-on:scroll.window.throttle.50ms="onScroll()">
                        <!-- "On this page" -->
                    </div>
                </aside>
            </div>


        </div>
    </div>
</div>